/*
 * Archive page styles
 */

/*
 * Archive search tools
 */
.logged-in .search-tools {
	top:31px;
}
.search-tools {
	width:100%;
	height:43px;
	position:fixed;
	color:$font-light;
	-webkit-transform: translateZ(0);
	z-index:98;
	background:$bg-accent-dark-1-trans-97;
	font-size:15px;
	top:71px;

	.search-tool {
		background:transparent;
		float:left;
		height:100%;
		height:43px;
	}
	.date-search-tools, .dropdown-search-tools {
		float:left;
		.search-tool{ 
			margin-left:.2%;
		}
	}
	.search-tool.text-input {
		background:transparent;
		font-size:15px;
		span.fa.fa-search {
			padding:14px 0px 10px 10px;
			float:left;
		}
		label {
			padding:11px 0px 10px 10px;
			float:left;
			font-size:15px;
		}
		input {
			float:left;
			width:40%;
			padding:12px 10px 10px 10px;
			font-size:15px;
			color:$font-light;	
			background:transparent;
			outline:none;
			border:none;
		}
	}	
	.search-tool.dropdown-select {
		font-size:15px;
		label {
			display:inline-block;
			padding:11px;
			float:left;
			font-size:15px;
		}
		span.fa.fa-caret-down {
			float:right;
			margin-top:15px;
			padding-right:23px;
		}
		.dropdown-panel {
			top:43px;
			left:0px;
			z-index:99;
			width:100%;
			background:$bg-accent-dark-2-trans-90;
			ul {
				margin:0 auto;
				padding:20px 0 10px;
				width:90%;
				li {
					position:relative;
					background:#fff;
					width:20%;
					padding:10px 20px;
					margin:2px 0;
					display:inline-block;
					cursor:pointer;
					color:$font-light;
					background:none;
					&:hover {
						background:$bg-accent-dark-2;
					}
					span.fa {
						position:absolute;
						top:14px;
						right:20px;
						display:none;
					}
				}
				li.selected {
					background:$mss;
					color:$font-accent-dark;
					span.fa {
						display:block;
					}
				}
				li.clear-all {

					//color:$font-light;
					//background:$bg-accent-dark-1;
					clear:both;
					display:block;
					margin:10px 0;

				}
			}
		}
	}

	.tax-repository {
		.dropdown-panel {
			max-height:520px;
			overflow-y:scroll;
			ul.repositories {
				width:100%;
				li {
					padding:5px 25px 5px 5px;
					margin:0 .5%;
					width:21%;
					span.term-title {
						font-size:13px;
						overflow: hidden;
						display:block;
						max-width:95%;
						white-space: nowrap;
						text-overflow: ellipsis;

					}
					span.fa {
						font-size:13px;
						position:absolute;
						top:8px;
						right:10px;
						display:none;
					}
				}
			}
			// Style the derpy default scrollbar
			&::-webkit-scrollbar {
			    width: 12px;
			} 
			/* Track */
			&::-webkit-scrollbar-track {
			    -webkit-box-shadow: inset 0 0 6px $accent-dark-2; 
			    //-webkit-border-radius: 2px;
			    //border-radius: 2px;
			}
			 
			/* Handle */
			&::-webkit-scrollbar-thumb {
			    //-webkit-border-radius: 2px;
			    //border-radius: 2px;
			    background: $accent-light-2; 
			    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
			}
			&::-webkit-scrollbar-thumb:window-inactive {
				background: rgba(255,0,0,0.4); 
			}
		}
	}

	// widths of tools 
	.search-tool.text-search {
		width:20%;
		height:43px;
		input {
			width:60%;
		}
	}
	.date-search-tools {
		width:32%;
	}
	.dropdown-search-tools {
		width:47%;
	}
	.search-tool.date-from-search, .search-tool.date-to-search {
		width:49%;
	}
	.search-tool.dropdown-select {
		width:33%;
	}
}
.logged-in .search-tools {
	margin-top:40px;
}
/*
 * Archive selected terms
 */
.selected-terms {
	padding-top:100px;
	height:32px;
	.selected-term {
		padding:5px 7px;
		background:$bg-accent-dark-2;
		font-size:14px;
		color:$font-light;
		margin-right:10px;
		cursor:pointer;
		span.fa {
			padding-left:5px;
			font-size:12px;
		}
	}
}

/*
 * Archive results content
 */
section.results {
	overflow:hidden;
	width:80%;
	margin:100px auto 100px;
	position:relative;
	text-align:center;
	min-height:600px;

	.loading {
		display:none;
		position:absolute;
		top:100px;
		left:50%;
		margin-left:-27px;
	}
	.no-results {
		display:none;
	}
	.results-wrap {
		min-height:600px;
		opacity:1;
		@include transition(opacity, 0.3s, ease-out);
	}
	.results-wrap.faded {
		opacity:0;
	}

	.result-wrap {
		padding:10px 0;
		margin:50px 0;
		.text-wrap, .image-wrap {
			display:inline-block;
		}
		.image-wrap {
			width:50%;
			margin-left:3%;
			overflow:hidden;
			height:230px;
			border:1px solid #eee;
			position:relative;
			float:right;
			img {
				width:100%;	
				min-width:500px;
			}
			h2.not-available {
				position:absolute;
				top:80px;
				left:50%;
				margin-left:-127px;
				color:rgba(0,0,0,.4);
			}
		}
		.text-wrap {
			width:46%;
			padding:0px;
			text-align:right;
			vertical-align: top;
			overflow:hidden;
			float:left;
			h2.meta {
				margin:0 0 10px 0;
				padding:0;
				font-size:32px;
			}
			span.meta {
				clear:both;
				width:100%;
				display:block;
				font-size:18px;
			}
			span.meta.year, span.meta.year span {
				font-size:20px;
			}
			p {
				margin:10px 0 0 0;
				padding:0;
				font-size:14px;
			}
		}
	}
}
.pagination-wrap {
	margin-top:80px;
	.pagination-mod {
		text-align:center;
		ol {
			cursor:default;
		}
		li.pagination-item {
			display:inline-block;
			padding:10px 20px;
			margin:10px 2px;
			cursor:pointer;
			background:$bg-accent-dark-1;
			color:$font-light;
			a {
				display:block;
				color:$font-light;
			}
		}
		li.pagination-item.is-active {
			background:$bg-light;
			color:$bg-accent-dark-1;
			border:$bg-accent-dark-1 solid 1px;
			cursor:default;
		}
		li.pagination-item.is-active.dots {
			border:none;
		}
	}
}

