/*
 * Custom global styles
 */

html, body, input, p, span, label {
	@include font-body; 
}
body {
	background:$light;
}

h1, h2, h3, h4, h5, h6 {
	weight:300;
	@include font-title; 
}

a {
	color:$dark;
	text-decoration: none;
	&:hover {
		color:$dark;
		text-decoration: none;
	}
}
p {
	line-height:1.6em;
}

li {
	list-style:none;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}


// Set text highlighting to accent colors
::selection {
  background: $accent-light-1;
}
::-moz-selection {
  background: $accent-light-1; 
}

/*
 * Global structure styles
 */

.grid.inner {
	width:100%;
	max-width:1200px;
	clear:both;
	margin:0 auto;
}
.fixed {
	position:fixed;
}
.social-wrap {
	padding:5px;
	span {
		padding:10px;
	}
}
.content.primary {
	min-height: 600px;
}

/*
 * Styles for navigation and header
 */
header {
	display:none;
	background:$trans-light;
	color:$dark;
	position:fixed;
	top:0;
	z-index:99;
	width:100%;
	-webkit-transform: translateZ(0);
	a {
		color:$dark;
		&:hover {
			color:$dark;
		}
	}

	.hdr-logo-link {
		display:inline-block;
		vertical-align: top;


		img {

			margin:17px 10px 17px 30px;
			display:inline-block;
			vertical-align: top;
			width:26px;
			
		}

		h1.hdr-logo {
			display:inline-block;
			vertical-align: top;
			@include font-accent(22px);
		}

	}

	#nav-main {
		display:inline-block;
		vertical-align: top;
		margin-left:30px;
		a {
			display:inline-block;
			padding:25px 10px;
			text-transform:uppercase;
			font-weight:700;
			font-size:13px;
			color:rgba(0,0,0,0.7);
		}
	}

	.header-dropdown {
		display:none;
		.dropdown-head {
			display:block;
			span.fa {
				display:block;
				padding:13px;
				font-size:20px;
			}
		}
		.dropdown-panel {
			display:none;
			position:relative;
		}
	}
}
// general navigation rules (when not fixed)
nav.primary {
	font-size:15px;
	a {
		&:hover {
			color:$light;
		}
	}

	ul {
		padding:0; margin:0;
		float:right;
		position:relative;
		li {
			float:left;
			padding:0; margin:0;
			a {
				padding:25px 25px;
				display:block;
				border-left:1px solid $primary;
				&:hover {
					background: $primary;	
				}
			}

		}
		li:last-child {
			a {
				border-right:1px solid $dark;
			}
		}
	}
}

/*
 * Footer 
 */

footer {
	height:220px;
	clear:both;
	background-color:$accent-dark-2;
	color:$light;
	padding:50px 0;
	text-align:center;
	width:100%;
	position:relative;

	h1 {
		margin: 20px 0 50px 0;
		padding:0;
		@include font-accent(30px);
	}
	a {
		color:$light;
		text-decoration: underline;
		&:hover {
			color:$light;
			text-decoration: none;
		}
	}

	.footer-text {
		text-align:right;
		width:50%;
		h3 {
			font-size:26px;
		}
		span {
			font-size:14px;
		}
	}

	.footer-logo {
		img {
			display:none;
		}
	}

}

/*
 * Styles for Dropdowns
 */ 

.dropdown {
	cursor:pointer;

	.dropdown-head {
		cursor:pointer;
		display:block;

		&:hover {
			//background:$accent-dark-1;
		}

		&.lowered {
			background:$dark;
		}

		label, .dropdown-arrow {
			cursor:pointer;
		}

	}
	.dropdown-head.lowered:hover {
			background:$dark;
	}

	.dropdown-panel {
		display:none;
		position:absolute;
		top:0;
		left:0;

	}
	.dropdown-panel.lowered {
		display:block !important;
	}
}
::-webkit-input-placeholder {
   color: $light;
}
:-moz-placeholder { 
   color: $light;  
}
::-moz-placeholder {
   color: $light;  
}
:-ms-input-placeholder {  
   color: $light;  
}