/*
 * Custom global styles
 */

html, body, input, p, span, label {
	@include font-body; 
}
body {
	background:$light;
}

h1, h2, h3, h4, h5, h6 {
	weight:300;
	@include font-title; 
}

a {
	color:$dark;
	text-decoration: none;
	&:hover {
		color:$dark;
		text-decoration: none;
	}
	&:focus{
		color:$dark;
		text-decoration: none;
	}

}
p {
	line-height:1.6em;
}

li {
	list-style:none;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}


// Set text highlighting to accent colors
::selection {
  background: $accent-light-1;
  color:$light;
}
::-moz-selection {
  background: $accent-light-1; 
  color:$light;
}

/*
 * Global structure styles
 */

.grid.inner {
	width:100%;
	max-width:1200px;
	clear:both;
	margin:0 auto;
}
.fixed {
	position:fixed;
}
.social-wrap {
	padding:5px;
	span {
		padding:10px;
	}
}
.content.primary {
	min-height: 600px;
}
.bg-gray {
	@include background-image(linear-gradient(#efefef, #f6f6f6 5%, #efefef 95%));
}
.full-width {
	width:100%;
}
.two-thirds-width {
	width:66%;
}

/*
 * Styles for navigation and header
 */
header {
	display:none;
	background:$trans-light;
	color:$dark;
	position:fixed;
	top:0;
	z-index:99;
	width:100%;
	-webkit-transform: translateZ(0);
	a {
		color:$dark;
		&:hover {
			color:$dark;
		}
	}

	.hdr-logo-link {
		display:inline-block;
		vertical-align: top;


		img {

			margin:20px 10px 17px 30px;
			display:inline-block;
			vertical-align: top;
			width:26px;
			
		}

		h1.hdr-logo {
			display:inline-block;
			vertical-align: top;
			@include font-title(22px);
		}

	}

	#nav-main {
		display:inline-block;
		vertical-align: top;
		margin-left:30px;
		.nav-item {
			display:inline-block;
			text-transform:uppercase;
			font-weight:700;
			font-size:13px;
			position:relative;

			&:hover {
				> a {
					background:rgba(255,255,255,1);
					border-bottom:1px solid rgba(150,150,150,1);

				}
			}

			a {
				display:block;
				color:rgba(0,0,0,0.7);

				padding:25px 10px;
				border-bottom:1px solid rgba(240,240,240,0);
			}
			.dropdown-panel {
				position:absolute;
				background:rgba(240,240,240,0.9);
				top:69px;
				a {

					padding:20px;
					&:hover {
						background:rgba(230,230,230,0.95);
					}
				}
			}
		}
	}

	.primary-header-content {
		float:left;
		margin:0;
		padding:0;
	}

	.languages {
		float:right;
		margin-right:20px;

		.language {
			width:30px;
			height:25px;
			margin:20px 5px;
			padding:0 0 5px 0;
			cursor:pointer;
			display:inline-block;
			border-bottom:1px solid rgba(0,0,0,0);
			&:hover {
				border-bottom:1px solid #ddd;
			}
			&.selected-language {
				border-bottom:1px solid #aaa;
			}
		}	
	}

}
// general navigation rules (when not fixed)
nav.primary {
	font-size:15px;
	a {
		&:hover {
			color:$light;
		}
	}
}
.has-children {
	position:relative;
}
.dropdown-panel {
	overflow:hidden;
	position:absolute;
	&.raised {
		display:none;
	}
	&.lowered {
		display:block;
	}
}

/*
 * Footer 
 */

footer {
	height:220px;
	clear:both;
	background-color:$primary;
	color:$light;
	padding:50px 0;
	text-align:center;
	width:100%;
	position:relative;

	h1 {
		margin: 20px 0 50px 0;
		padding:0;
		@include font-accent(30px);
	}
	a {
		color:$light;
		text-decoration: underline;
		&:hover {
			color:$light;
			text-decoration: none;
		}
	}

	.footer-text {
		text-align:right;
		width:50%;
		h3 {
			font-size:26px;
		}
		span {
			font-size:14px;
		}
	}

	.footer-logo {
		img {
			display:none;
		}
	}

}

/*
 * Styles for Dropdowns
 */ 

.dropdown {
	cursor:pointer;

	.dropdown-head {
		cursor:pointer;
		display:block;

		&:hover {
			//background:$accent-dark-1;
		}

		&.lowered {
			background:$dark;
		}

		label, .dropdown-arrow {
			cursor:pointer;
		}

	}
	.dropdown-head.lowered:hover {
			background:$dark;
	}

	.dropdown-panel {
		display:none;
		position:absolute;
		top:0;
		left:0;

	}
	.dropdown-panel.lowered {
		display:block !important;
	}
}
::-webkit-input-placeholder {
   color: $light;
}
:-moz-placeholder { 
   color: $light;  
}
::-moz-placeholder {
   color: $light;  
}
:-ms-input-placeholder {  
   color: $light;  
}