/*
 * Custom global styles
 */

html, body, input, p, span, label {
	@include font-body;
}
body {
	background:$light;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:300;
	@include font-title;
}

a {
	color:$dark;
	text-decoration: none;
	&:hover {
		color:$dark;
		text-decoration: none;
	}
	&:focus{
		color:$dark;
		text-decoration: none;
	}

}
p {
	line-height:1.6em;
}

li {
	list-style:none;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}


// Set text highlighting to accent colors
::selection {
  background: $accent-light-1;
  color:$light;
}
::-moz-selection {
  background: $accent-light-1;
  color:$light;
}

/*
 * Global structure styles
 */

.grid.inner {
	width:100%;
	max-width:1200px;
	clear:both;
	margin:0 auto;
}
.fixed {
	position:fixed;
}
.social-wrap {
	padding:5px;
	span {
		padding:10px;
	}
}
.content.primary {
	min-height: 600px;
}
.bg-gray {
	@include background-image(linear-gradient(#efefef, #f6f6f6 5%, #efefef 95%));
}
.full-width {
	width:100%;
}
.two-thirds-width {
	width:66%;
}

/*
 * Styles for navigation and header
 */
header {
	display:none;
	background:$trans-light;
	color:$dark;
	position:fixed;
	top:0;
	z-index:99;
	width:100%;
	-webkit-transform: translateZ(0);
	a {
		color:$dark;
		&:hover {
			color:$dark;
		}
	}

	.hdr-logo-link {
		display:inline-block;
		vertical-align: top;


		img {

			margin:20px 10px 17px 30px;
			display:inline-block;
			vertical-align: top;
			width:26px;

		}

		h1.hdr-logo {
			display:inline-block;
			vertical-align: top;
			@include font-title(18px);
			padding:0;
			margin:0;
		}

	}

	#nav-main {
		display:inline-block;
		vertical-align: top;
		margin-left:30px;
		background:transparent;
		height:65px;

		.nav-item {
			display:inline-block;
			text-transform:uppercase;
			position:relative;
			margin-left:-4px;

			&:hover {
				> a {
					background:$primary;
					color:$light;

				}
			}

			a {
				display:block;
				color:rgba(0,0,0,0.7);

				padding:15px 15px;

				span {
					font-weight:700;
					font-size:12px;

				}

			}
			.dropdown-panel {
				position:absolute;
				background:rgba(240,240,240,0.9);
				top:65px;
				border-left:#222;
				border-bottom:#222;
				border-right:#222;

				a {

					padding:13px 20px 7px;
					text-align:left;

					&:hover {
						background:rgba(230,230,230,0.95);
					}

				}

			}
		}
	}

	.primary-header-content {
		float:left;
		margin:0;
		padding:0;

	}

	.languages {
		float:right;
		margin-right:20px;

		&:focus {
			outline:1px solid transparent;
		}

		.language {
			width:30px;
			height:25px;
			margin:20px 5px;
			padding:0 0 5px 0;
			cursor:pointer;
			display:inline-block;
			border-bottom:1px solid rgba(0,0,0,0);

			&:hover {
				border-bottom:1px solid #ddd;
			}

			&.selected-language {
				border-bottom:1px solid #aaa;
			}

			&:focus {
				outline:1px solid transparent;
			}

		}
	}

}
// general navigation rules (when not fixed)
nav.primary {
	font-size:15px;
	background:transparent;
	a {
		&:hover {
			color:$light;
		}
	}
}
.has-children {
	position:relative;
}
.dropdown-panel {
	overflow:hidden;
	position:absolute;
	&.raised {
		display:none;
	}
	&.lowered {
		display:block;
	}
}


header.headroom--top {
	background:transparent;
	box-shadow:none;
	border-bottom:1px solid rgba(255,255,255,0.3);

	nav.bg-dark {
		background:transparent;
	}

	nav.primary a {
		color:$light;

		&:hover {
			background:$accent-dark-1;
			color:$light;
		}

	}


	.site-title-wrap {
		&:hover{
			background:$accent-dark-1;
		}

	}

}

.headroom {
	transition: transform 00ms linear, background 300ms ease-out;
}
.headroom--pinned {
	transition: transform 200ms linear, background 300ms ease-out;
	transform: translateY(0%) translateZ(0);
}
.headroom--unpinned {
	//transform: translateY(-100%) translateZ(0);
}


/*
 * Footer
 */

footer {
	clear:both;
	background-color:$accent-dark-1;
	color:$light;
	padding:50px 0;
	text-align:center;
	width:100%;
	position:relative;

	h1, p, a {
		color:$light;
	}

	h1 {
		@include font-accent( 33px );
		line-height:1.5em;

	}

	p.lead {
		text-align:left;
		padding-top:9px;
	}

	.col-md-2 {
		padding-top:35px;

	}



}

/*
 * Styles for Dropdowns
 */

.dropdown {
	cursor:pointer;

	.dropdown-head {
		cursor:pointer;
		display:block;

		&:hover {
			//background:$accent-dark-1;
		}

		&.lowered {
			background:$dark;
		}

		label, .dropdown-arrow {
			cursor:pointer;
		}

	}
	.dropdown-head.lowered:hover {
			background:$dark;
	}

	.dropdown-panel {
		display:none;
		position:absolute;
		top:0;
		left:0;

	}
	.dropdown-panel.lowered {
		display:block !important;
	}
}
::-webkit-input-placeholder {
   color: $light;
}
:-moz-placeholder {
   color: $light;
}
::-moz-placeholder {
   color: $light;
}
:-ms-input-placeholder {
   color: $light;
}

.paper-shadow {
 box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),0 1px 5px 0 rgba(0, 0, 0, 0.12),0 3px 1px -2px rgba(0, 0, 0, 0.2);
 border-radius:2px;

}
.dropdown-shadow {
 box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2),0 1px 5px 0 rgba(0, 0, 0, 0.1),0 3px 1px -2px rgba(0, 0, 0, 0.01);

}
.paper-card {
	-webkit-transition: all .15s cubic-bezier(.33,.66,.66,1);
	transition: all .15s cubic-bezier(.33,.66,.66,1);
	-webkit-backface-visibility: hidden;
	-webkit-perspective: 1000px;
	-webkit-transform-style: preserve-3d;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	border-radius: 1px;
	box-shadow: -1px 0 2px 0 rgba(0,0,0,0.12) , 1px 0 2px 0 rgba(0,0,0,0.12) , 0 1px 1px 0 rgba(0,0,0,0.24);
	&:hover {
		box-shadow: -2px 0 2px 0 rgba(0,0,0,0.16) , 2px 0 2px 0 rgba(0,0,0,0.16) , 0 2px 2px 0 rgba(0,0,0,0.23);
		-webkit-transform: translate3d(0,-3px,0);
		transform: translate3d(0,-3px,0);
	}

}



.more-blur {
	@include filter( blur(8px) );

}
.less-blur {
	@include filter( blur(1px) );

}
.more-blur--persistent {
	@include filter(blur(8px) );

}
.background-screen {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1;
	@include background-image( linear-gradient(
			rgba(25, 25, 25, 0.7),
			rgba(25, 25, 25, 0.5) 20%,
			rgba(25, 25, 25, 0.5) 80%,
			rgba(25, 25, 25, 0.8)
		) );


}

.md-button {
	border-radius:0;
	margin:0;
	min-width:0;

	span {
	}

}

.modal-strip.bg-white {
	background:rgba(255,255,255,0.95);
	padding:14px 0;
	.ti-new-window {
		font-size:22px;
		padding-left:20px;
	}
	p {
		font-size:16px;
		margin:0;

	}
	a {
		color:$accent-light-2;
		padding-bottom:2px;
		line-height:14px;
		display:inline-block;
		border-bottom:1px solid rgba(101, 66, 62, 0.7);
	}
	i {
		color:$accent-light-2 !important;
	}
}
