/*
 *
 *
 *   ___ ___ ___| |_|_|_____ ___ _| |___ ___ 
 *  | .'|  _|  _|   | |     | -_| . | -_|_ -|
 *  |__,|_| |___|_|_|_|_|_|_|___|___|___|___|
 *
 *
 *             archimedes digital
 *
 *
 * Base theme SCSS for Compass, containing pertinent
 * site variables for HCA web application
 *
 */



// Import Libraries  
@import "compass";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "compass/css3/filter";
@import "compass/css3/transition";



/*
 * Color palette 
 *
 */

// Basics
$dark: #222;
$grey: #666;
$light: #fff;

// Theme colors 
$accent-light-2: rgba(101, 66, 62,1);
$accent-light-1: rgba( 81, 39, 35,1);
$primary: rgba( 60, 22, 18,1);
$off-primary: rgba(51, 19, 16, 1); 
$accent-dark-1: rgba( 39,  9,  6,1);
$accent-dark-2: rgba( 19,  2,  0,1);

// General help colors
$trans-light: rgba(255,255,255,.93);
$trans-light-8: rgba(255,255,255,.8);
$trans-accent-dark-1:rgba(39, 9, 6, 0.8);
$mss: #FFFDF5;
$mss-dark: #A9947B;
$required: #A33D31;

/*
 * Fonts  
 *
 * Title, body, accent
 */

@mixin font-body( $size : 17px ) {
	font-family: 'Open Sans', sans-serif;
	font-size: $size;
	font-weight:300;
}
@mixin font-title( $size : 24px ) {
	font-family: 'Open Sans', sans-serif;
	font-size: $size;
	font-weight:700;
}
@mixin font-accent( $size : 24px ) {
	font-family: 'IM Fell English';
	font-size: $size;
}
	 
// Load Glyphicons fonts
@font-face {
  font-family: 'Glyphicons';
  src: url('/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.eot');
  src: url('/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.woff') format('woff'), url('/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}


/*
 * Util Mixins 
 *
 *  - a library of mixins customized for this project 
 */

// Easy cross browser transition 
@mixin transition( $property: all, $duration: 1s, $effect: linear, $delay: 0 ) {
	-webkit-transition: $property $duration $effect $delay;
	-moz-transition: $property $duration $effect $delay;
	-o-transition: $property $duration $effect $delay;
	transition: $property $duration $effect $delay;
}

// Easy cross browser opacity
@mixin opacity( $value: 0.5 ) {
 	  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=($value * 100));
 	  filter: alpha(opacity=($value * 100));
 	  -moz-opacity: $value;
 	  -khtml-opacity: $value;
 	  opacity: $value;
}

// Project border
@mixin project-border {
	border: 5px solid $border-primary;
}


/*
 * Project Bootstrap Defaults import
 *
 */
@import "/bower_components/bootstrap/dist/css/bootstrap.css";



/* 
 * Project Imports
 *
 *
 */

// project styles
@import "_global.scss";
@import "_index.scss";
@import "_page.scss";
@import "_single.scss";


// responsive styles
@import "_responsive.scss";
