/*
 *
 *
 *   ___ ___ ___| |_|_|_____ ___ _| |___ ___ 
 *  | .'|  _|  _|   | |     | -_| . | -_|_ -|
 *  |__,|_| |___|_|_|_|_|_|_|___|___|___|___|
 *
 *
 *             archimedes digital
 *
 *
 * Base theme SCSS for Compass, containing pertinent
 * site variables for HCA web application
 *
 */
/*
 * Color palette 
 *
 */
/*
 * Fonts  
 *
 * Title, body, accent
 */
@import url(/bower_components/bootstrap/dist/css/bootstrap.css);
@font-face {
  font-family: 'Glyphicons';
  src: url("/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.eot");
  src: url("/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.woff") format("woff"), url("/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("/bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
}

/*
 * Util Mixins 
 *
 *  - a library of mixins customized for this project 
 */
/*
 * Project Bootstrap Defaults import
 *
 */
/* 
 * Project Imports
 *
 *
 */
/*
 * Custom global styles
 */
/* line 5, ../../scss/_global.scss */
html, body, input, p, span, label {
  font-family: 'Proxima N W01 Thin Reg', sans-serif;
  font-size: 17px;
  font-weight: 300;
}

/* line 8, ../../scss/_global.scss */
body {
  background: white;
}

/* line 12, ../../scss/_global.scss */
h1, h2, h3, h4, h5, h6 {
  weight: 300;
  font-family: 'Proxima N W01 At Bold', sans-serif;
  font-size: 24px;
  font-weight: 700;
}

/* line 17, ../../scss/_global.scss */
a {
  color: #222222;
  text-decoration: none;
}
/* line 20, ../../scss/_global.scss */
a:hover {
  color: #222222;
  text-decoration: none;
}
/* line 24, ../../scss/_global.scss */
a:focus {
  color: #222222;
  text-decoration: none;
}

/* line 30, ../../scss/_global.scss */
p {
  line-height: 1.6em;
}

/* line 34, ../../scss/_global.scss */
li {
  list-style: none;
}

/* line 38, ../../scss/_global.scss */
[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

/* line 44, ../../scss/_global.scss */
::selection {
  background: #512723;
  color: white;
}

/* line 48, ../../scss/_global.scss */
::-moz-selection {
  background: #512723;
  color: white;
}

/*
 * Global structure styles
 */
/* line 57, ../../scss/_global.scss */
.grid.inner {
  width: 100%;
  max-width: 1200px;
  clear: both;
  margin: 0 auto;
}

/* line 63, ../../scss/_global.scss */
.fixed {
  position: fixed;
}

/* line 66, ../../scss/_global.scss */
.social-wrap {
  padding: 5px;
}
/* line 68, ../../scss/_global.scss */
.social-wrap span {
  padding: 10px;
}

/* line 72, ../../scss/_global.scss */
.content.primary {
  min-height: 600px;
}

/* line 75, ../../scss/_global.scss */
.bg-gray {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #efefef), color-stop(5%, #f6f6f6), color-stop(95%, #efefef));
  background-image: -webkit-linear-gradient(#efefef, #f6f6f6 5%, #efefef 95%);
  background-image: -moz-linear-gradient(#efefef, #f6f6f6 5%, #efefef 95%);
  background-image: -o-linear-gradient(#efefef, #f6f6f6 5%, #efefef 95%);
  background-image: linear-gradient(#efefef, #f6f6f6 5%, #efefef 95%);
}

/* line 78, ../../scss/_global.scss */
.full-width {
  width: 100%;
}

/* line 81, ../../scss/_global.scss */
.two-thirds-width {
  width: 66%;
}

/*
 * Styles for navigation and header
 */
/* line 88, ../../scss/_global.scss */
header {
  display: none;
  background: rgba(255, 255, 255, 0.93);
  color: #222222;
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  -webkit-transform: translateZ(0);
}
/* line 97, ../../scss/_global.scss */
header a {
  color: #222222;
}
/* line 99, ../../scss/_global.scss */
header a:hover {
  color: #222222;
}
/* line 104, ../../scss/_global.scss */
header .hdr-logo-link {
  display: inline-block;
  vertical-align: top;
}
/* line 109, ../../scss/_global.scss */
header .hdr-logo-link img {
  margin: 20px 10px 17px 30px;
  display: inline-block;
  vertical-align: top;
  width: 26px;
}
/* line 118, ../../scss/_global.scss */
header .hdr-logo-link h1.hdr-logo {
  display: inline-block;
  vertical-align: top;
  font-family: 'Proxima N W01 At Bold', sans-serif;
  font-size: 22px;
  font-weight: 700;
}
/* line 126, ../../scss/_global.scss */
header #nav-main {
  display: inline-block;
  vertical-align: top;
  margin-left: 30px;
}
/* line 130, ../../scss/_global.scss */
header #nav-main .nav-item {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  position: relative;
}
/* line 138, ../../scss/_global.scss */
header #nav-main .nav-item:hover > a {
  background: white;
  border-bottom: 1px solid #969696;
}
/* line 145, ../../scss/_global.scss */
header #nav-main .nav-item a {
  display: block;
  color: rgba(0, 0, 0, 0.7);
  padding: 25px 10px;
  border-bottom: 1px solid rgba(240, 240, 240, 0);
}
/* line 152, ../../scss/_global.scss */
header #nav-main .nav-item .dropdown-panel {
  position: absolute;
  background: rgba(240, 240, 240, 0.9);
  top: 69px;
}
/* line 156, ../../scss/_global.scss */
header #nav-main .nav-item .dropdown-panel a {
  padding: 20px;
}
/* line 159, ../../scss/_global.scss */
header #nav-main .nav-item .dropdown-panel a:hover {
  background: rgba(230, 230, 230, 0.95);
}
/* line 167, ../../scss/_global.scss */
header .primary-header-content {
  float: left;
  margin: 0;
  padding: 0;
}
/* line 173, ../../scss/_global.scss */
header .languages {
  float: right;
  margin-right: 20px;
}
/* line 177, ../../scss/_global.scss */
header .languages .language {
  width: 30px;
  height: 25px;
  margin: 20px 5px;
  padding: 0 0 5px 0;
  cursor: pointer;
  display: inline-block;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}
/* line 185, ../../scss/_global.scss */
header .languages .language:hover {
  border-bottom: 1px solid #ddd;
}
/* line 188, ../../scss/_global.scss */
header .languages .language.selected-language {
  border-bottom: 1px solid #aaa;
}

/* line 196, ../../scss/_global.scss */
nav.primary {
  font-size: 15px;
}
/* line 199, ../../scss/_global.scss */
nav.primary a:hover {
  color: white;
}

/* line 204, ../../scss/_global.scss */
.has-children {
  position: relative;
}

/* line 207, ../../scss/_global.scss */
.dropdown-panel {
  overflow: hidden;
  position: absolute;
}
/* line 210, ../../scss/_global.scss */
.dropdown-panel.raised {
  display: none;
}
/* line 213, ../../scss/_global.scss */
.dropdown-panel.lowered {
  display: block;
}

/*
 * Footer 
 */
/* line 222, ../../scss/_global.scss */
footer {
  height: 220px;
  clear: both;
  background-color: #3c1612;
  color: white;
  padding: 50px 0;
  text-align: center;
  width: 100%;
  position: relative;
}
/* line 232, ../../scss/_global.scss */
footer h1 {
  margin: 20px 0 50px 0;
  padding: 0;
  font-family: 'Proxima N W01 At Bold';
  font-size: 30px;
}
/* line 237, ../../scss/_global.scss */
footer a {
  color: white;
  text-decoration: underline;
}
/* line 240, ../../scss/_global.scss */
footer a:hover {
  color: white;
  text-decoration: none;
}
/* line 246, ../../scss/_global.scss */
footer .footer-text {
  text-align: right;
  width: 50%;
}
/* line 249, ../../scss/_global.scss */
footer .footer-text h3 {
  font-size: 26px;
}
/* line 252, ../../scss/_global.scss */
footer .footer-text span {
  font-size: 14px;
}
/* line 258, ../../scss/_global.scss */
footer .footer-logo img {
  display: none;
}

/*
 * Styles for Dropdowns
 */
/* line 269, ../../scss/_global.scss */
.dropdown {
  cursor: pointer;
}
/* line 272, ../../scss/_global.scss */
.dropdown .dropdown-head {
  cursor: pointer;
  display: block;
}
/* line 280, ../../scss/_global.scss */
.dropdown .dropdown-head.lowered {
  background: #222222;
}
/* line 284, ../../scss/_global.scss */
.dropdown .dropdown-head label, .dropdown .dropdown-head .dropdown-arrow {
  cursor: pointer;
}
/* line 289, ../../scss/_global.scss */
.dropdown .dropdown-head.lowered:hover {
  background: #222222;
}
/* line 293, ../../scss/_global.scss */
.dropdown .dropdown-panel {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 300, ../../scss/_global.scss */
.dropdown .dropdown-panel.lowered {
  display: block !important;
}

/* line 304, ../../scss/_global.scss */
::-webkit-input-placeholder {
  color: white;
}

/* line 307, ../../scss/_global.scss */
:-moz-placeholder {
  color: white;
}

/* line 310, ../../scss/_global.scss */
::-moz-placeholder {
  color: white;
}

/* line 313, ../../scss/_global.scss */
:-ms-input-placeholder {
  color: white;
}

/*
 * Homepage styles
 */
/* line 5, ../../scss/_index.scss */
.block {
  min-height: 550px;
  padding: 120px 0 120px 0;
  width: 100%;
  clear: both;
  position: relative;
  overflow: hidden;
  text-align: center;
}
/* line 15, ../../scss/_index.scss */
.block .block-inner {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}
/* line 21, ../../scss/_index.scss */
.block.block-image {
  height: 500px;
  min-height: 0;
  background: #222222;
}
/* line 25, ../../scss/_index.scss */
.block.block-image .image-screen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(20, 20, 20, 0.3)), color-stop(100%, rgba(20, 20, 20, 0.5)));
  background-image: -webkit-linear-gradient(rgba(20, 20, 20, 0.3), rgba(20, 20, 20, 0.5));
  background-image: -moz-linear-gradient(rgba(20, 20, 20, 0.3), rgba(20, 20, 20, 0.5));
  background-image: -o-linear-gradient(rgba(20, 20, 20, 0.3), rgba(20, 20, 20, 0.5));
  background-image: linear-gradient(rgba(20, 20, 20, 0.3), rgba(20, 20, 20, 0.5));
}
/* line 35, ../../scss/_index.scss */
.block h2 {
  font-size: 38px;
  padding-bottom: 60px;
}
/* line 39, ../../scss/_index.scss */
.block h3 {
  font-size: 28px;
  padding-bottom: 10px;
}
/* line 43, ../../scss/_index.scss */
.block p {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.78);
  line-height: 1.7em;
}
/* line 48, ../../scss/_index.scss */
.block p.block-teaser {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
  line-height: 1.6em;
}
/* line 55, ../../scss/_index.scss */
.block p.supplementary {
  font-size: 19px;
  color: rgba(0, 0, 0, 0.62);
  line-height: 1.4em;
}
/* line 63, ../../scss/_index.scss */
.block .text-content {
  clear: both;
}
/* line 65, ../../scss/_index.scss */
.block .text-content .text-column {
  display: inline-block;
}
/* line 70, ../../scss/_index.scss */
.block .text-overlay {
  color: white;
  margin: 0 auto;
  display: inline-block;
  padding: 20px 50px;
}
/* line 76, ../../scss/_index.scss */
.block .text-overlay h1 {
  padding: 0;
  font-size: 48px;
  line-height: 60px;
  width: 100%;
}
/* line 84, ../../scss/_index.scss */
.block .caption {
  margin: 10px;
  display: block;
  font-size: 14px;
  word-wrap: wrap;
  color: rgba(0, 0, 0, 0.6);
}

/* line 93, ../../scss/_index.scss */
.top-right {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}

/* line 100, ../../scss/_index.scss */
.top-left {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
}

/* line 106, ../../scss/_index.scss */
.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
}

/* line 113, ../../scss/_index.scss */
.bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
}

/* line 123, ../../scss/_index.scss */
.scroll-indicator {
  position: absolute;
  -webkit-transform: translateZ(0);
  top: 570px;
  right: 10%;
  background: #222222;
  cursor: pointer;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
  z-index: 20;
}
/* line 133, ../../scss/_index.scss */
.scroll-indicator:hover {
  top: 572px;
}
/* line 137, ../../scss/_index.scss */
.scroll-indicator span.fa {
  padding: 20px;
  color: white;
  font-weight: 100;
  font-size: 20px;
}

/* line 146, ../../scss/_index.scss */
.block.head {
  background-image: url(/wp-content/themes/hca/img/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  min-height: 700px;
  position: relative;
}
/* line 155, ../../scss/_index.scss */
.block.head .block-head-background-screen {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(20, 20, 20, 0.6);
  top: 0;
  left: 0;
}
/* line 164, ../../scss/_index.scss */
.block.head .text-overlay {
  text-align: center;
  cursor: default;
  position: relative;
}
/* line 169, ../../scss/_index.scss */
.block.head h1 {
  color: white;
  margin: 0px auto 50px;
  padding: 0;
  display: inline-block;
  font-size: 50px;
  width: 100%;
  line-height: 1.5em;
}
/* line 180, ../../scss/_index.scss */
.block.head nav {
  display: block;
  margin: 0px auto;
}
/* line 183, ../../scss/_index.scss */
.block.head nav .nav-item {
  color: white;
  font-size: 20px;
  display: inline-block;
  margin: 10px;
  text-transform: uppercase;
  font-weight: 700;
}
/* line 192, ../../scss/_index.scss */
.block.head nav .nav-item a {
  display: block;
  padding: 15px 20px;
  color: white;
  background: rgba(0, 0, 0, 0);
}
/* line 198, ../../scss/_index.scss */
.block.head nav .nav-item a:hover {
  background: rgba(0, 0, 0, 0.7);
}
/* line 204, ../../scss/_index.scss */
.block.head nav .nav-item .dropdown-panel {
  background: rgba(0, 0, 0, 0.5);
}
/* line 207, ../../scss/_index.scss */
.block.head nav .nav-item .dropdown-panel a {
  text-align: left;
  padding: 15px 20px;
  display: block;
  font-size: 18px;
  color: #ddd;
}
/* line 213, ../../scss/_index.scss */
.block.head nav .nav-item .dropdown-panel a:hover {
  background: rgba(0, 0, 0, 0.4);
}
/* line 220, ../../scss/_index.scss */
.block.head nav .has-children:hover > a {
  background: rgba(0, 0, 0, 0.7);
}
/* line 227, ../../scss/_index.scss */
.block.head .social-wrap span {
  color: #fff;
  font-size: 28px;
  border-radius: 30px;
  padding: 20px;
  display: inline-block;
  margin: 5px;
}
/* line 235, ../../scss/_index.scss */
.block.head .social-wrap span.fa-facebook {
  padding: 20px 25px;
}
/* line 242, ../../scss/_index.scss */
.block.head .languages .language {
  width: 40px;
  height: 35px;
  margin: 0 5px;
  cursor: pointer;
  padding: 0 0 5px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}
/* line 249, ../../scss/_index.scss */
.block.head .languages .language:hover {
  border-bottom: 1px solid #aaa;
}
/* line 252, ../../scss/_index.scss */
.block.head .languages .language.selected-language {
  border-bottom: 1px solid #f6f6f6;
}

/* line 260, ../../scss/_index.scss */
.block.intro {
  /*
  background:$accent-dark-1;
  color:$light;
  p {
  	color:$light;
  }
  */
}
/* line 270, ../../scss/_index.scss */
.block.intro .intro-block-image {
  display: inline-block;
  vertical-align: top;
  width: 33%;
  padding: 10px;
  margin-top: 70px;
  overflow: hidden;
}
/* line 277, ../../scss/_index.scss */
.block.intro .intro-block-image img {
  width: 100%;
}
/* line 281, ../../scss/_index.scss */
.block.intro .intro-block-text {
  display: inline-block;
  vertical-align: top;
  width: 66%;
  text-align: left;
  padding: 0 50px;
}

/* line 291, ../../scss/_index.scss */
.block.intro-image {
  background-image: url(/wp-content/themes/hca/img/charlie_poster_pencil.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/* line 303, ../../scss/_index.scss */
.block.project-description .project-description-image {
  display: inline-block;
  vertical-align: top;
  width: 40%;
  padding: 10px;
  height: 400px;
  overflow: hidden;
}
/* line 310, ../../scss/_index.scss */
.block.project-description .project-description-image img {
  width: 100%;
}
/* line 314, ../../scss/_index.scss */
.block.project-description .project-description-text {
  display: inline-block;
  vertical-align: top;
  width: 92%;
  text-align: left;
  padding: 0 50px;
}

/* line 326, ../../scss/_index.scss */
.block.goals .goals-image {
  display: inline-block;
  vertical-align: top;
  width: 33%;
  padding: 10px;
  height: 400px;
  overflow: hidden;
}
/* line 333, ../../scss/_index.scss */
.block.goals .goals-image img {
  width: 100%;
  padding-bottom: 24px;
}
/* line 338, ../../scss/_index.scss */
.block.goals .goals-text {
  display: inline-block;
  vertical-align: top;
  width: 66%;
  text-align: left;
  padding: 0 50px;
}

/* line 350, ../../scss/_index.scss */
.block.how-it-works {
  background: #3c1612;
  color: white;
}
/* line 353, ../../scss/_index.scss */
.block.how-it-works .flowchart-step {
  background: #eee;
  padding: 50px;
  margin: 20px auto;
  display: block;
}
/* line 359, ../../scss/_index.scss */
.block.how-it-works .step-text {
  color: #444;
  font-size: 18px;
  font-weight: 700;
}
/* line 364, ../../scss/_index.scss */
.block.how-it-works .flowchart-down {
  color: #ddd;
  font-size: 32px;
  padding: 10px;
}
/* line 370, ../../scss/_index.scss */
.block.how-it-works .step-one {
  width: 80%;
}
/* line 374, ../../scss/_index.scss */
.block.how-it-works .step-two {
  width: 70%;
}
/* line 379, ../../scss/_index.scss */
.block.how-it-works .step-three {
  width: 60%;
}

/* line 384, ../../scss/_index.scss */
.block.submission-image {
  background-image: url(/wp-content/themes/hca/img/charlie_fabric_mural.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

/* line 393, ../../scss/_index.scss */
.block.contacts .contacts-subtitle-text {
  margin: 10px auto;
}
/* line 397, ../../scss/_index.scss */
.block.contacts .team-member {
  text-align: left;
  margin: 30px 0;
}
/* line 401, ../../scss/_index.scss */
.block.contacts .team-member-image {
  display: inline-block;
  vertical-align: top;
  width: 12%;
  margin: 20px 5% 20px 0;
}
/* line 406, ../../scss/_index.scss */
.block.contacts .team-member-image img {
  width: 100%;
}
/* line 410, ../../scss/_index.scss */
.block.contacts .team-member-text {
  display: inline-block;
  vertical-align: top;
  width: 82%;
}
/* line 415, ../../scss/_index.scss */
.block.contacts .team-member-text.team-member-text-wide {
  width: 100%;
}
/* line 420, ../../scss/_index.scss */
.block.contacts .team-member-head .team-member-image {
  width: 25%;
}
/* line 423, ../../scss/_index.scss */
.block.contacts .team-member-head .team-member-text {
  width: 69%;
}
/* line 425, ../../scss/_index.scss */
.block.contacts .team-member-head .team-member-text.team-member-text-wide {
  width: 100%;
}

/* line 432, ../../scss/_index.scss */
.page-help-text {
  display: inline-block;
  width: 80%;
  color: rgba(0, 0, 0, 0.7);
  margin: 0 auto 40px;
  font-size: 16px;
  line-height: 1.6em;
  text-align: left;
}

/* line 445, ../../scss/_index.scss */
.block.submission-proposal h4 {
  margin: 0 auto;
  text-align: center;
  clear: both;
  width: 100%;
  padding: 50px 0;
}
/* line 454, ../../scss/_index.scss */
.block.submission-proposal .submission-form {
  text-align: left;
  width: 90%;
  margin: 20px auto;
}
/* line 460, ../../scss/_index.scss */
.block.submission-proposal input[type="text"], .block.submission-proposal textarea {
  font-size: 20px;
  padding: 10px;
}
/* line 464, ../../scss/_index.scss */
.block.submission-proposal textarea {
  height: 180px;
}
/* line 468, ../../scss/_index.scss */
.block.submission-proposal .submission-input-field {
  margin: 0px 0 40px 0;
  clear: both;
  display: block;
}
/* line 474, ../../scss/_index.scss */
.block.submission-proposal .submission-input-field label {
  display: inline-block;
  vertical-align: top;
  width: 20%;
  font-size: 18px;
}
/* line 480, ../../scss/_index.scss */
.block.submission-proposal .submission-input-field input[type="text"], .block.submission-proposal .submission-input-field textarea {
  width: 74%;
  margin-left: 5%;
  display: inline-block;
}
/* line 488, ../../scss/_index.scss */
.block.submission-proposal .submission-input-field-wide {
  margin: 40px 0 40px 0;
  clear: both;
  display: block;
}
/* line 494, ../../scss/_index.scss */
.block.submission-proposal .submission-input-field-wide label {
  display: block;
  width: 70%;
  font-size: 18px;
}
/* line 499, ../../scss/_index.scss */
.block.submission-proposal .submission-input-field-wide input[type="text"], .block.submission-proposal .submission-input-field-wide textarea {
  display: block;
  width: 98%;
  margin: 10px auto;
}
/* line 505, ../../scss/_index.scss */
.block.submission-proposal .submission-input-field-wide .help-text {
  width: 98%;
  margin: 10px auto;
  display: block;
  font-size: 16px;
  word-wrap: wrap;
  color: rgba(0, 0, 0, 0.8);
}
/* line 516, ../../scss/_index.scss */
.block.submission-proposal .half-field {
  float: right;
  clear: both;
  width: 74%;
  margin-right: 0.5%;
  margin-bottom: 30px;
}
/* line 523, ../../scss/_index.scss */
.block.submission-proposal .half-field label {
  cursor: pointer;
}
/* line 529, ../../scss/_index.scss */
.block.submission-proposal .send-in-input-field {
  clear: both;
  margin: 10px 0;
}
/* line 533, ../../scss/_index.scss */
.block.submission-proposal .send-in-input-field span {
  display: inline-block;
}
/* line 537, ../../scss/_index.scss */
.block.submission-proposal .send-in-input-field label {
  cursor: pointer;
  display: inline-block;
  padding: 10px;
}
/* line 545, ../../scss/_index.scss */
.block.submission-proposal .checkbox-field {
  clear: both;
  width: 99%;
  margin-bottom: 30px;
  display: block;
}
/* line 551, ../../scss/_index.scss */
.block.submission-proposal .checkbox-field label {
  cursor: pointer;
}
/* line 555, ../../scss/_index.scss */
.block.submission-proposal .checkbox-field input[type="checkbox"] {
  display: inline-block;
  padding: 10px;
  border: 1px solid #222222;
  background: white;
}
/* line 562, ../../scss/_index.scss */
.block.submission-proposal .checkbox-field .field-text {
  display: inline-block;
  width: 90%;
  vertical-align: top;
  margin-left: 10px;
}
/* line 572, ../../scss/_index.scss */
.block.submission-proposal input[type="file"] {
  background: white;
  font-size: 16px;
  margin-left: 8px;
}
/* line 578, ../../scss/_index.scss */
.block.submission-proposal input[type="submit"] {
  background: #3c1612;
  border: none;
  color: white;
  margin-top: 30px;
  padding: 30px 40px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}

/* line 592, ../../scss/_index.scss */
.required {
  color: #a33d31;
}

/*
 * Page styles
 */
/* line 5, ../../scss/_page.scss */
article.page .header-image-wrap {
  height: 350px;
  overflow: hidden;
}
/* line 8, ../../scss/_page.scss */
article.page .header-image-wrap img {
  width: 100%;
  min-width: 1000px;
}
/* line 13, ../../scss/_page.scss */
article.page .article-content {
  width: 80%;
  margin: 50px auto 150px auto;
  overflow: hidden;
}
/* line 17, ../../scss/_page.scss */
article.page .article-content h1.article-h1 {
  font-size: 40px;
}
/* line 20, ../../scss/_page.scss */
article.page .article-content h2 {
  width: 92%;
  margin: 30px auto;
  font-size: 30px;
}
/* line 25, ../../scss/_page.scss */
article.page .article-content p, article.page .article-content ul, article.page .article-content ol {
  font-size: 20px;
  width: 90%;
  margin: 30px auto;
}
/* line 29, ../../scss/_page.scss */
article.page .article-content p li, article.page .article-content ul li, article.page .article-content ol li {
  margin: 10px 0;
}
/* line 33, ../../scss/_page.scss */
article.page .article-content .media-wrap {
  width: 100%;
  text-align: center;
}
/* line 37, ../../scss/_page.scss */
article.page .article-content .image-wrap {
  max-height: 500px;
  overflow: hidden;
}
/* line 40, ../../scss/_page.scss */
article.page .article-content .image-wrap img {
  width: 100%;
  min-width: 400px;
}
/* line 45, ../../scss/_page.scss */
article.page .article-content .image-caption, article.page .article-content .wp-caption-text {
  display: block;
  clear: both;
  font-size: 16px;
  font-style: italic;
  margin: 10px 10px 0;
  line-height: 20px;
  text-align: center;
}

/*
 * Single
 */
/* line 5, ../../scss/_single.scss */
article.single h1 {
  margin: 100px 0 0px;
}
/* line 8, ../../scss/_single.scss */
article.single .article-content {
  width: 80%;
  margin: 50px auto 150px auto;
}
/* line 11, ../../scss/_single.scss */
article.single .article-content h1 {
  font-size: 40px;
  margin-bottom: 40px;
}
/* line 15, ../../scss/_single.scss */
article.single .article-content .media-wrap {
  float: left;
  width: 66%;
  margin: 0px 4% 40px 0;
  text-align: center;
}
/* line 20, ../../scss/_single.scss */
article.single .article-content .media-wrap .caption {
  float: left;
}
/* line 24, ../../scss/_single.scss */
article.single .article-content .image-wrap {
  width: 100%;
  max-height: 400px;
  overflow: hidden;
  position: relative;
}
/* line 29, ../../scss/_single.scss */
article.single .article-content .image-wrap img {
  width: 100%;
}
/* line 32, ../../scss/_single.scss */
article.single .article-content .image-wrap h2.not-available {
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -127px;
  color: rgba(0, 0, 0, 0.4);
}
/* line 40, ../../scss/_single.scss */
article.single .article-content p {
  font-size: 18px;
  margin: 10px 0;
}
/* line 43, ../../scss/_single.scss */
article.single .article-content p.meta {
  font-size: 16px;
  margin: 5px 0;
}
/* line 46, ../../scss/_single.scss */
article.single .article-content p.meta span.label {
  font-size: 16px;
}
/* line 50, ../../scss/_single.scss */
article.single .article-content p span.label {
  font-size: 18px;
  font-weight: bold;
}
/* line 55, ../../scss/_single.scss */
article.single .article-content .longer-meta {
  clear: both;
  width: 90%;
}
/* line 58, ../../scss/_single.scss */
article.single .article-content .longer-meta p {
  line-height: 30px;
}
/* line 62, ../../scss/_single.scss */
article.single .article-content a {
  text-decoration: underline;
}
/* line 64, ../../scss/_single.scss */
article.single .article-content a:hover {
  text-decoration: none;
}

/*
 * Responsive styles
 */
@media (max-width: 1100px) {
  /* line 8, ../../scss/_responsive.scss */
  header .hdr-logo-link h1.hdr-logo {
    font-size: 14px;
    margin-top: 26px;
  }

  /* line 12, ../../scss/_responsive.scss */
  header #nav-main a {
    font-size: 11px;
    padding-top: 28px;
    padding-bottom: 24px;
  }

  /* line 17, ../../scss/_responsive.scss */
  .block .block-inner {
    width: 98%;
  }

  /* line 20, ../../scss/_responsive.scss */
  .block.goals .goals-text, .block.intro .intro-block-text {
    width: 100%;
    padding: 30px 0;
    float: none;
    display: block;
    text-align: center;
  }
  /* line 26, ../../scss/_responsive.scss */
  .block.goals .goals-text p, .block.intro .intro-block-text p {
    text-align: left;
  }

  /* line 30, ../../scss/_responsive.scss */
  .block.intro .intro-block-image {
    display: none;
  }

  /* line 33, ../../scss/_responsive.scss */
  .block.goals .goals-image {
    width: 50%;
    padding: 0 30px 30px;
    float: none;
    display: block;
    margin: 0px auto 20px;
  }

  /* line 40, ../../scss/_responsive.scss */
  .block.project-description .project-description-text {
    width: 98%;
  }

  /* line 43, ../../scss/_responsive.scss */
  .block.submission-proposal .form-help-text {
    width: 98%;
  }

  /* line 46, ../../scss/_responsive.scss */
  .block.submission-proposal .submission-form {
    width: 98%;
  }

  /* line 49, ../../scss/_responsive.scss */
  .block p {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.7);
    line-height: 1.6em;
  }

  /* line 55, ../../scss/_responsive.scss */
  .block h3 {
    margin: 10px auto 20px;
    font-size: 28px;
    padding-bottom: 10px;
    display: inline-block;
  }

  /* line 61, ../../scss/_responsive.scss */
  .block.project-description .project-description-text {
    padding: 0 20px;
  }
}
@media (max-width: 900px) {
  /* line 68, ../../scss/_responsive.scss */
  header #nav-main {
    display: none;
  }

  /* line 71, ../../scss/_responsive.scss */
  header .languages .language {
    width: 20px;
    height: 20px;
    margin: 25px 5px;
  }

  /* line 76, ../../scss/_responsive.scss */
  .bottom-right {
    display: none;
  }

  /* line 79, ../../scss/_responsive.scss */
  footer .footer-text {
    display: block;
    width: 98%;
    text-align: center;
  }

  /* line 84, ../../scss/_responsive.scss */
  .block.goals .goals-image {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  /* line 89, ../../scss/_responsive.scss */
  .block.project-description .project-description-text {
    padding: 0;
  }

  /* line 92, ../../scss/_responsive.scss */
  .block.who-we-are .team-member-text {
    width: 100%;
  }

  /* line 95, ../../scss/_responsive.scss */
  .block.who-we-are .team-member-image {
    display: block;
    margin: 20px auto;
    width: 33%;
  }

  /* line 100, ../../scss/_responsive.scss */
  .block.submission-proposal .submission-input-field input[type=text], .block.submission-proposal .submission-input-field textarea {
    display: block;
    width: 100%;
    margin-left: 0;
  }

  /* line 105, ../../scss/_responsive.scss */
  .block.submission-proposal .submission-input-field label {
    display: block;
    width: 100%;
  }
}
@media (max-width: 800px) {
  /* line 111, ../../scss/_responsive.scss */
  .harvard-romance-languages-department-logo {
    width: 60%;
  }
  /* line 113, ../../scss/_responsive.scss */
  .harvard-romance-languages-department-logo img {
    width: 100%;
  }

  /* line 117, ../../scss/_responsive.scss */
  .block.head h1 {
    font-size: 30px;
    margin-top: 100px;
  }

  /* line 121, ../../scss/_responsive.scss */
  .block.head nav a {
    font-size: 14px;
  }

  /* line 124, ../../scss/_responsive.scss */
  .block .block-inner {
    width: 88%;
  }
}
@media (max-width: 500px) {
  /* line 132, ../../scss/_responsive.scss */
  header .hdr-logo-link img {
    margin: 22px 5px 22px 10px;
    width: 20px;
  }

  /* line 136, ../../scss/_responsive.scss */
  header .hdr-logo-link h1.hdr-logo {
    text-overflow: ellipsis;
    max-width: 80%;
    overflow: hidden;
    white-space: nowrap;
  }

  /* line 142, ../../scss/_responsive.scss */
  .block.head .languages .language {
    width: 20px;
    height: 20px;
  }

  /* line 146, ../../scss/_responsive.scss */
  .block {
    padding: 30px 0;
  }

  /* line 149, ../../scss/_responsive.scss */
  .block.intro-image, .block.submission-image {
    background-size: cover;
  }

  /* line 152, ../../scss/_responsive.scss */
  .block.block-image {
    height: 300px;
  }

  /* line 155, ../../scss/_responsive.scss */
  .block.submission-proposal input[type=submit] {
    width: 100%;
  }
}
@media (max-width: 400px) {
  /* line 160, ../../scss/_responsive.scss */
  header .languages {
    margin-right: 0;
    width: 19%;
  }

  /* line 164, ../../scss/_responsive.scss */
  header .hdr-logo-link h1.hdr-logo {
    max-width: 80%;
  }

  /* line 167, ../../scss/_responsive.scss */
  header .primary-header-content {
    width: 80%;
  }
}
