{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig" data-ng-controller="CAHLController as hca_controller" ng-cloak >

		<header class="header paper-shadow" headroom >
			{% block header %}
				<div class="wrapper">
					<div class="primary-header-content">
						<md-button class="hdr-logo-link" href="/" rel="home">
							<img src="/wp-content/themes/hca/img/harvard_logo.png">
							<h1 class="hdr-logo" role="banner" ng-show="language=='english'">
								The Charlie Archive at the Harvard Library
							</h1>
							<h1 class="hdr-logo" role="banner" ng-show="language=='francais'">
								Archives Charlie à Harvard
							</h1>

						</md-button>

						<nav id="nav-main" class="nav-main" role="navigation">

							<div class="nav-item dropdown has-children">
								<md-button href="#project" data-link_id="project" ng-show="language=='english'">
									About the Archive
								</md-button>
								<div class="dropdown-panel raised">
									<md-button href="#context" data-link_id="context" ng-show="language=='english'">Context</md-button>
									<md-button href="#project" data-link_id="project" ng-show="language=='english'">Project Description</md-button>
									<md-button href="#goals" data-link_id="goals" ng-show="language=='english'">Goals</md-button>
									<md-button href="#recent-submissions" data-link_id="recent-submissions" ng-show="language=='english'">Recent Submissions</md-button>

								</div>
							</div>
							<div class="nav-item">
								<md-button href="#propose-submission" data-link_id="propose-submission" ng-show="language=='english'">
									Contribute to the Archive
								</md-button>
							</div>
							<div class="nav-item">
								<md-button href="#contacts" data-link_id="contacts" ng-show="language=='english'">
									Contacts
								</md-button>
							</div>
							<div class="nav-item dropdown has-children">
								<md-button href="#project" data-link_id="project" ng-show="language=='francais'">
									Description de projet
								</md-button>
								<div class="dropdown-panel raised">
									<md-button href="#context" data-link_id="context" ng-show="language=='francais'">Context</md-button>
									<md-button href="#project" data-link_id="project" ng-show="language=='francais'">Description de projet</md-button>
									<md-button href="#goals" data-link_id="goals" ng-show="language=='francais'">Goals</md-button>
									<md-button href="#recent-submissions" data-link_id="recent-submissions" ng-show="language=='francais'">Recent Submissions</md-button>

								</div>
							</div>
							<div class="nav-item">
								<md-button href="#propose-submission" data-link_id="propose-submission" ng-show="language=='francais'">
									Formulaire de contribution
								</md-button>
							</div>
							<div class="nav-item">
								<md-button href="#contacts" data-link_id="contacts" ng-show="language=='francais'">
									Contacts
								</md-button>
							</div>

						</nav><!-- #nav -->
					</div>

					<div class="languages">
						<img class="french-flag language" src="/wp-content/themes/hca/min/img/french_flag.png" ng-click="toggle_language($event)" data-language="francais"/>

						<img class="english-flag language selected-language" src="/wp-content/themes/hca/min/img/american_flag.png" ng-click="toggle_language($event)" data-language="english"/>

					</div>

				</div>
			{% endblock %}
		</header>

		<div id="content" role="main" class="content-wrapper">
			{% block content %}
				Sorry, no content
			{% endblock %}
		</div>

		{% block footer %}
				{% include 'footer.twig' %}
		{% endblock %}

		{{ function('wp_footer') }}

		<div class="modal-strip bg-white">
    	<div class="container">
    		<div class="row">
    			<div class="col-sm-12 overflow-hidden">
    				<i class="ti ti-book icon icon-sm pull-left color-primary"></i>
    				<p class="mb0 pull-left">Access the collection: <a href="http://nrs.harvard.edu/urn-3:FHCL:wid00006" target="_blank" rel="noopener noreferrer">Finding Aid</a> and <a href="http://id.lib.harvard.edu/aleph/014504871/catalog" target="_blank" rel="noopener noreferrer">Hollis+</a></p>
    			</div>
    		</div><!--end of row-->
    	</div><!--end of container-->
    </div><!--end modal strip-->

    <script src="/wp-content/themes/hca/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
		<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"></script>

    <script src="/wp-content/themes/hca/min/js/jquery.cookie.js" type="text/javascript"></script>
    <script src="/wp-content/themes/hca/bower_components/headroom.js/dist/headroom.js" type="text/javascript"></script>
    <script src="/wp-content/themes/hca/node_modules/angular/angular.js" type="text/javascript"></script>
    <script src="/wp-content/themes/hca/node_modules/angular-animate/angular-animate.js" type="text/javascript"></script>
    <script src="/wp-content/themes/hca/node_modules/angular-aria/angular-aria.js" type="text/javascript"></script>
    <script src="/wp-content/themes/hca/node_modules/angular-material/angular-material.js" type="text/javascript"></script>
    <script src="/wp-content/themes/hca/node_modules/angular-material-icons/angular-material-icons.js" type="text/javascript"></script>
    <script src="/wp-content/themes/hca/bower_components/headroom.js/dist/angular.headroom.js" type="text/javascript"></script>
    <script src="/wp-content/themes/hca/bower_components/masonry/dist/masonry.pkgd.js" type="text/javascript"></script>
    <script src="/wp-content/themes/hca/min/js/main.js" type="text/javascript"></script>


	</body>
</html>
