
<footer class="pt96 pb96 pt-xs-48 pb-xs-48">
	<div class="container">
		<div class="row mb64 mb-xs-32">
			<div class="col-md-5 text-right text-left-xs">
				<h1 class="bold">The Charlie Archive at the Harvard Library</h1>
			</div>

			<div class="col-md-2 hidden-sm hidden-xs text-center">
        <img class="site-logo" src="/wp-content/themes/hca/min/img/veritas3.png">
			</div>

			<div class="col-md-5 col-sm-6">
				<p class="lead">
					 For more information about the Charlie Archive at the Harvard Library or proposing a submission to the archive, email <a href="mailto:charliearchive@fas.harvard.edu">charliearchive@fas.harvard.edu</a>.
				</p>

			</div>
		</div><!--end of row-->
		<div class="row">
			<div class="col-md-8 col-md-offset-2 col-sm-9 col-sm-offset-1 text-center">
				<p class="fade-1-4">&copy; {{"now"|date('Y')}}, The Charlie Archive at the Harvard Library.</hp>
			</div>
		</div><!--end of row-->
	</div><!--end of container-->
</footer>
