
<div class="bottom-right footer-text"> 
	<h3 class="site-title-font">Charlie Archive at the Harvard Library</h3>
	<span class="copyright-information">
		Charlie Archive at the Harvard Library, {{"now"|date('Y')}}. For more information about the Charlie Archive at the Harvard Library or proposing a submission to the archive, email <a href="mailto:charliearchive@fas.harvard.edu">charliearchive@fas.harvard.edu</a>.
	</span>
</div>

