
<div class="bottom-left footer-text"> 
	<h3 class="site-title-font">Harvard Charlie Archive</h3>
	<span class="copyright-information">
		Copyright Harvard Charlie Archive, {{"now"|date('Y')}}. For more information about the Harvard Charlie Archive or proposing a submission to the archive, email <a href="mailto:contact@charlie.harvard.edu">contact@charlie.harvard.edu</a>.
	</span>
</div>

<div class="bottom-right footer-logo">
	<div class="harvard-romance-languages-department-logo" alt="Harvard Romance Languages Department">
		<img src="/wp-content/themes/hca/img/harvard_romance_languages_department_logo.jpg"/>
	</div>
</div>