{% extends "base.twig" %}

{% block content %}

<div class="cahl-image-modal cahl-modal">
	<div class="close-modal paper-card" ng-click="close_image_modal()">
		<i class="material-icons">close</i>
	</div>
	<div class="image-modal-image">
	</div>
</div>

<div class="cahl-loading-modal cahl-modal">
	<div class="sk-folding-cube">
	  <div class="sk-cube1 sk-cube"></div>
	  <div class="sk-cube2 sk-cube"></div>
	  <div class="sk-cube4 sk-cube"></div>
	  <div class="sk-cube3 sk-cube"></div>
	</div>
</div>

<section class="cover fullscreen image-bg headline-image head " id="head">

	<div class="background-image-holder">
		<img alt="Background Image" class="background-image" src="/wp-content/themes/hca/min/img/header.jpg" />
	</div>
	<div class="background-screen"></div>

	<div class="top-left">
		<div class="harvard-fas-logo">
			<img src="/wp-content/themes/hca/min/img/harvard_faculty_of_arts_and_sciences.png"  alt="Harvard Faculty of Arts and Sciences"/>
		</div>

	</div>

	<div class="top-right">
		<div class="languages">
			<img class="french-flag language" src="/wp-content/themes/hca/min/img/french_flag.png" ng-click="toggle_language($event)" data-language="francais"/>
			<img class="english-flag language selected-language" src="/wp-content/themes/hca/min/img/american_flag.png" ng-click="toggle_language($event)" data-language="english"/>
		</div>
	</div>

	<div class="bottom-left">
		<div class="bottom-head-nav">
			<md-button class="btn btn-sm" href="#context" data-link_id="context" ng-show="language=='english'">Context</md-button>
			<md-button class="btn btn-sm" href="#project" data-link_id="project" ng-show="language=='english'">Project Description</md-button>
			<md-button class="btn btn-sm" href="#goals" data-link_id="goals" ng-show="language=='english'">Goals</md-button>

			<md-button class="btn btn-sm" href="#contacts" data-link_id="contacts" ng-show="language=='english'">
				Contacts
			</md-button>
			<md-button class="btn btn-sm" href="#context" data-link_id="context" ng-show="language=='francais'">CONTEXTE</md-button>

			<md-button class="btn btn-sm" href="#project" data-link_id="project" ng-show="language=='francais'">DESCRIPTION DU PROJET</md-button>
			<md-button class="btn btn-sm" href="#goals" data-link_id="goals" ng-show="language=='francais'">BUTS</md-button>
			<md-button class="btn btn-sm" href="#contacts" data-link_id="contacts" ng-show="language=='francais'">
				CONTACTS
			</md-button>

		</div>
	</div>

	<div class="container v-align-transform header-container">
		<div class="row">
			<div class="col-sm-10 col-sm-offset-1 text-center header-col">

				<h1 class="site-title" ng-show="language=='english'">
				The Charlie Archive <br>at the Harvard Library
				</h1>
				<h1 class="site-title" ng-show="language=='francais'">
				Archives Charlie à Harvard
				</h1>

				<nav role="main" class="primary head-nav">

					<md-button class="btn btn-sm " href="#context" data-link_id="context" ng-show="language=='english'">
						Context
					</md-button>

					<md-button class="btn btn-sm " href="#context" data-link_id="context" ng-show="language=='francais'">
						Contexte
					</md-button>

					<md-button class="btn btn-sm btn-primary" href="#propose-submission" data-link_id="propose-submission" ng-show="language=='english'">
						Contribute to the Archive
					</md-button>

					<md-button class="btn btn-sm btn-primary" href="#propose-submission" data-link_id="propose-submission" ng-show="language=='francais'">
						COMMENT CONTRIBUER AUX ARCHIVES
					</md-button>

				</nav>
			</div>

		</div>

	</div>


</div>

<section id="context" class="intro">
	<div class="container">

			<div class="row v-align-children">
					<div class="col-md-5 intro-block-image text-center mb-xs-24">
							<img class="cast-shadow" alt="Screenshot" src="/wp-content/themes/hca/min/img/republique.jpg" />
					</div>
					<div class="col-md-5 ">
						<h3 ng-show="language=='english'">Context</h3>
						<p class="block-teaser" ng-show="language=='english'">
						The attacks of January 7, 8 and 9 2015 against Charlie Hebdo and a kosher supermarket in Paris have started a vigorous debate on fundamental issues such as freedom of expression, relation between state, religion and society, respect for other beliefs and perspectives than our own, inequalities, and the disenfranchisement of individuals and communities. Participants in this debate represent a large sample of political positions and social backgrounds. The media coverage turned these French events into global news for a while. “Je suis Charlie” or “Je ne suis pas Charlie” became international expressions of adhesion to or distance from the stance attributed to Charlie Hebdo with regard to religion in general and to Islam in particular.
						</p>
						<h3 ng-show="language=='francais'">Contexte</h3>
						<p class="block-teaser" ng-show="language=='francais'">
						Les attaques des 7, 8 et 9 janvier 2015 contre Charlie Hebdo et un supermarché casher à Paris ont provoqué un vif débat sur des questions fondamentales telles que la liberté d’expression, la relation entre l’Etat, la religion et la société, le respect pour les croyances et opinions autres que les nôtres, les inégalités, l’exclusion d’individus et de communautés. Les participants à ce débat ont exprimé un large éventail de positions politiques et proviennent d’origines sociales très diverses. Les medias ont transformé pendant un moment ces événements français en nouvelles internationales. “Je suis Charlie” ou “Je ne suis pas Charlie” est devenu une expression internationale d’adhésion ou de distance à la position attribuée à Charlie Hebdo sur la religion en général et sur l’Islam en particulier.
						</p>
					</div>
			</div>
			<!--end of row-->


	</div>
</section>

<!--div class="block block-image intro-image">
	<div class="image-screen"></div>
</div-->

<section id="project" class="project-description bg-gray">
	<div class="block-inner">
		<h2 ng-show="language=='english'">Project Description</h2>
		<h2 ng-show="language=='francais'">Description du projet</h2>

		<!-- div class="intro-block-image">
			<img src="/wp-content/themes/hca/min/img/event_soldiers.jpg">
		</div-->

		<div class="project-description-text" ng-show="language=='english'">
			<p >
			We seek to collect, organize, and archive a wide array of materials that represent diverse perspectives through different media responding to the events themselves or contributing to the debates around the events. We are especially interested in the ephemeral materials that might not otherwise be captured in a library collection but are crucial to making sense of these events and conversations. In the first phase of the project, we invite interested members of the public, in France and elsewhere, to contribute materials. Future developments may include curating virtual or real exhibitions, connecting with other archives, or documenting the evolution of the debate on political and religious satire or on other related topics. The most exciting aspect of this project is that we don’t know where it can lead us and how it will evolve.
			</p>
		</div>
		<div class="project-description-text" ng-show="language=='francais'">
			<p >
			Nous cherchons à rassembler, organiser et archiver une grande variété de documents imprimés et digitaux qui représentent un large éventail de perspectives par le biais de différents médias qui réagissent aux événements eux-mêmes, ou qui contribuent aux débats autour de ces événements.  Nous sommes surtout intéressés par des documents éphémères qui ne seraient autrement pas inclus dans des collections de bibliothèques mais qui demeurent essentiels à une compréhension de ces événements et débats. Pour la première phase du projet, nous invitons les membres intéressés du public, en France et ailleurs, à nous procurer des documents. Par la suite, nous pourrions organiser des expositions virtuelles ou réelles, des échanges avec d’autres archives ou suivre l’évolution du débat sur la satire religieuse et politique et autres sujets associés. L’aspect le plus passionnant de ce projet est que nous ne savons pas où il peut nous mener ni comment il évoluera.
			</p>
		</div>


	</div>
</section>


<section id="goals" class="goals">
	<h2 ng-show="language=='english'">Goals</h2>
	<h2 ng-show="language=='francais'">Buts</h2>
	<div class="container">
		<div class="row v-align-children">
			<div class="col-md-5 ">
				<p ng-show="language=='english'">
					The main goal of the Charlie Archive at the Harvard Library project is to preserve manuscript, printed, digital, and ephemeral materials produced in the aftermath of these events. These materials will be archived by Harvard Library, and made available for research and education to scholars, teachers, and students. For scholars, the archive will be used as a resource for research in various fields and disciplines. For teachers and students, the archive will serve as a database and resource for the development of teaching materials. For all future users of the library, it will document a peculiar moment in the early twenty-first century, when the word “Charlie” all of a sudden took on tragic significance, and became charged with conflicting emotions, opinions, and agendas.
				</p>
				<p ng-show="language=='francais'">
					Le but principal du projet des Archives Charlie à la Bibliothèque de Harvard est de préserver des documents manuscrits, imprimés, digitaux et éphémères produits à la suite de ces événements. Ces documents seront archivés par la Bibliothèque de Harvard, et rendus disponibles pour la recherche et l’éducation. Les spécialistes utiliseront ces archives comme sources pour des recherches dans différents domaines et disciplines. Les enseignants et les élèves s'en serviront comme banque de données et ressource pour le développement de matériel pédagogique. Pour tous les utilisateurs futurs de la bibliothèque, ces archives documenteront un moment particulier du début du 21ème siècle, où le mot "Charlie" prit soudain un sens tragique, et devint lourd d’émotions ambivalentes, d’opinions et d’intentions ouvertes ou cachées.
				</p>
			</div>
			<div class="col-md-4 goals-block-image text-center mb-xs-24">
				<img class="cast-shadow" src="/wp-content/themes/hca/min/img/sign_and_flowers.jpg" alt="Sign and flowers">
			</div>

		</div>
		<!--end of row-->

	</div>

</section>

<section id="recent-submissions" class="recent-submission">

		<h2 ng-show="language=='english'">Recent Submissions</h2>
		<h2 ng-show="language=='francais'">Recent Submissions</h2>

		<!--div class="search-tools">
			<div class="search-tool text-search">
				<i class="material-icons">search</i>
				<input type="text" placeholder="Search"/>
			</div>
			<md-button class="search-tool search-type search-type-photograph" ng-click="toggle_search_term( 'photograph' )">
					Photographs
					<i class="material-icons unchecked">check_box_outline_blank</i>
					<i class="material-icons checked">check_box</i>
			</md-button>
			<md-button class="search-tool search-type search-type-news" ng-click="toggle_search_term( 'news' )">
					News & Articles
					<i class="material-icons unchecked">check_box_outline_blank</i>
					<i class="material-icons checked">check_box</i>
			</md-button>
			<md-button class="search-tool search-type search-type-internet" ng-click="toggle_search_term( 'internet' )">
					Internet
					<i class="material-icons unchecked">check_box_outline_blank</i>
					<i class="material-icons checked">check_box</i>
			</md-button>
		</div-->

		<div class="results">
			<div class="results-grid" ng-hide="selected_result">
				<md-card class="submission-teaser paper-card" data-id="{[result.ID]}" ng-repeat="result in search_results" >
					<div class="image-wrap">

						<img class="submission-image" ng-src="{[result.images[0].medium_thumb[0]]}"  ng-show="result.images[0].is_image" ng-click="show_single($event)"/>
						<i class="material-icons file-download" ng-src="{[result.images[0].medium_thumb[0]]}"  ng-show="!result.images[0].is_image" ng-click="show_single($event)">description</i>

					</div>
					<md-card-content>
						<h4 class="md-title" ng-click="show_single($event)" ng-show="result.images.length===0||!result.images">{[result.post_title]}</h4>
						<h4 class="md-title" ng-click="show_single($event)" ng-show="result.images.length === 1">{[result.post_title]} - {[result.images.length]} Attachment</h4>
						<h4 class="md-title" ng-click="show_single($event)" ng-show="result.images.length>1">{[result.post_title]} - {[result.images.length]} Attachments</h4>
						<div class="submission-author-wrap">
						By&nbsp;<span class="submission-author">{[result.donated_by]}</span>
						</div>
						<div class="card-meta">
							<div class="card-meta-item card-meta-location">
								<i class="material-icons">map</i>
								<span class="submission-location">{[result.location]}</span>
							</div>
							<!--div class="card-meta-item card-meta-date">
								<i class="material-icons">date_range</i>
								<span class="submission-date">{[result.date]}</span>
							</div-->
						</div>
					</md-card-content>
				</md-card>
			</div>

			<div class="selected-result" ng-show="selected_result">
				<div class="close-selected paper-shadow" ng-click="close_single()">
					<i class="material-icons">close</i>
				</div>

				<div class="gallery-images">

					<md-card class="gallery-image" ng-repeat="image in selected_result.images">
						<div class="image-wrap">
							<div class="interaction-icons">
								<a class="image-modal-link" href="#" ng-click="show_image_modal($event)" ng-show="image.is_image" data-image-url="/wp-content/uploads/{[image.file]}">
									<i class="material-icons interaction-icon paper-shadow">fullscreen</i>
								</a>
								<a href="{[image.file]}" target="_blank" ng-show="!image.is_image">
									<i class="material-icons interaction-icon download paper-shadow">file_download</i>
								</a>

							</div>

							<img class="submission-image" ng-src="{[image.medium_thumb[0]]}"  ng-show="image.is_image"/>
							<i class="material-icons file-download" ng-src="{[image.medium_thumb[0]]}"  ng-show="!image.is_image">description</i>

						</div>
					</md-card>

				</div>

				<div class="selected-meta">

					<h4 class="md-title" ng-click="show_single($event)">{[selected_result.post_title]}</h4>

					<div class="submission-author-wrap">
						By&nbsp;<span class="submission-author">{[selected_result.donated_by]}</span>
					</div>

					<div class="card-meta">
						<!--div class="card-meta-item card-meta-location">
								<span class="card-tag paper-shadow" ng-repeat="tag in selected_result.tags" data-tag="{[tag]}">{[tag]}</span>
						</div-->
						<div class="card-meta-item card-meta-location">
							<i class="material-icons">map</i>
							<span class="submission-location">{[selected_result.location]}</span>
						</div>

						<!--div class="card-meta-item card-meta-date">
							<i class="material-icons">date_range</i>
							<span class="submission-date">{[selected_result.date]}</span>
						</div-->

						<div class="card-meta-item card-meta-date">
							{[selected_result.content]}

						</div>

						<!--iframe width='100%' height='400px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/lukehollis.oe18emip/zoompan,geocoder.html?access_token=pk.eyJ1IjoibHVrZWhvbGxpcyIsImEiOiJ6Rk1vdjc0In0.jQDtXA8wqU_wYi5p1ClCyw'></iframe-->

					</div>

				</div>



			</div>

		</div>

		<div class="show-more-wrap" ng-hide="selected_result">
			<md-button class="btn show-more paper-shadow" ng-click="show_more()" ng-show="more_to_show">
				Show More
			</md-button>
		</div>

</section>


<section id="contacts" class="contacts bg-gray">
	<div class="block-inner">
		<h2 ng-show="language=='english'">Contacts</h2>
		<h2 ng-show="language=='francais'">Contacts</h2>
		<p ng-show="language=='english'">
			The Charlie Archive at Harvard Library is an evolving collaborative project that includes Harvard librarians, faculty members, and students. If you have any questions about the Charlie Archive, please contact the project manager at <a href="mailto:charliearchive@fas.harvard.edu">charliearchive@fas.harvard.edu</a>.
		</p>
		<p ng-show="language=='francais'">
			Les Archives Charlie à la Bibliothèque de Harvard est un projet collaboratif auquel collaborent bibliothécaires, membres de la faculté et étudiants. Si vous avez des questions concernant ces Archives, veuillez contacter le coordinateur de projet, Tuo Liu: <a href="mailto:charliearchive@fas.harvard.edu">charliearchive@fas.harvard.edu</a>.
		</p>
		<div class="team-member team-member-head">
			<div class="team-member-text team-member-text-wide">
				<h3>Virginie Greene</h3>
				<p ng-show="language=='english'">Virginie Greene is professor of French medieval literature, and currently chair of the Department of Romance Languages and Literatures at Harvard University. She has published on medieval literature and philosophy, and Marcel Proust. She holds a Ph.D. in French literature from the University of Illinois at Urbana-Champaign.</p>
				<p ng-show="language=='francais'">Virginie Greene est professeur de littérature française médiévale et actuellement directrice du Département de langues et littératures romanes à l’Université Harvard. Elle a publié des ouvrages sur la littérature et sur la philosophie médiévale, ainsi que sur Marcel Proust. Elle détient un doctorat en littérature française de l’Université de l’Illinois à Urbana-Champaign. </p>
			</div>
		</div>
		<div class="team-member team-member-primary">
			<div class="team-member-text team-member-text-wide">
				<h3>Odile Harter</h3>
				<p ng-show="language=='english'">Odile Harter is a Research Librarian at Harvard College Library. She supports the departments of Romance Languages and Literature, English, and Comparative Literature, and the Program in General Education. </p>
				<p ng-show="language=='francais'">Odile Harter travaille à la Bibliothèque du Collège d'Harvard, pour l'enseignement de premier cycle. Elle est chargée particulièrement des relations entre la bibliothèque et le département de langues et littératures romanes, le département d'anglais, le département de littérature comparée et le programme d'éducation générale.</p>
			</div>
		</div>
		<div class="team-member team-member-primary">
			<div class="team-member-text team-member-text-wide">
				<h3>Tuo Liu</h3>
				<p ng-show="language=='english'">Tuo Liu is a Ph.D. student in Romance Languages and Literatures at Harvard University. His main research interests include 19th-century French literature, the representation of beauty and ugliness, as well as the history of the novel. He holds a M.A. from Harvard University and a B.A. in Romance Languages from the University of Pennsylvania.</p>
				<p ng-show="language=='francais'">Tuo Liu est doctorant en littératures et langues romanes à l’Université Harvard. Ses intérêts de recherche incluent la littérature française du 19ème siècle, la représentation de la beauté et de la laideur, et l’histoire du roman. Il détient un M.A. de l’Université Harvard et un B.A en langues romanes de l’Université de Pennsylvanie.</p>
			</div>
		</div>
		<div class="team-member team-member-primary">
			<div class="team-member-text team-member-text-wide">
				<h3>Nicole Mills</h3>
				<p ng-show="language=='english'">Nicole Mills is coordinator of the Beginning French Language Program at Harvard University. She has publications in various academic journals and edited volumes on various topics associated with self-efficacy in foreign language learning and teaching, curriculum design, motivation, and language program evaluation. She holds a Ph.D. in Educational Studies and French from Emory University.</p>
				<p ng-show="language=='francais'">Nicole Mills est coordinatrice du programme de langue en français débutant à l’Université Harvard. Elle a publié dans différentes revues académiques et volumes sur divers sujets liés à l’auto-efficacité dans l’apprentissage et l’enseignement de langues étrangères, la création de curriculum, la motivation, et l’évaluation de programmes de langues. Elle détient un doctorat en éducation et en français de l’Université Emory.</p>
			</div>
		</div>
		<div class="team-member team-member-primary">
			<div class="team-member-text team-member-text-wide">
				<h3>Lola Mirabail</h3>
				<p ng-show="language=='english'">Lola Mirabail is a curator. After having done a training at Harvard Library, she heads the public services department of Paris 8 University's Library.</p>
				<p ng-show="language=='francais'">Lola Mirabail est diplômée de Sciences Po Bordeaux et conservateur des bibliothèques. En février 2015, dans le cadre de sa formation de conservateur, elle réalise une mission à la bibliothèque d'Harvard et participe au lancement de ce projet d'archivage. Elle est chargée de relayer l'information auprès du grand public et de tisser des liens avec des organismes culturels ou de recherche français (universités, bibliothèques, associations, archives...). Elle est actuellement responsable du département des services au public de la bibliothèque de Paris 8.</p>
			</div>
		</div>
		<div class="team-member team-member-primary">
			<div class="team-member-text team-member-text-wide">
				<h3>Lidia Uziel</h3>
				<p ng-show="language=='english'">Lidia Uziel is head of the Western Languages Division and bibliographer for Western Europe at Harvard Library.  She serves as the division’s leader and catalyst in building and then implementing its vision and strategy for collection development activities for materials in humanities and social science originating in Western European and English speaking countries.  She holds a Ph.D. in Comparative Literature from both the University of Montreal in Canada and Jean Moulin Lyon 3 University in France.</p>
				<p ng-show="language=='francais'">Lidia Uziel est chef de la Division des langues occidentales et bibliothécaire pour l’Europe de l’Ouest à la Bibliothèque de Harvard. Au sein de sa division, elle dirige la création et la mise en œuvre d’une vision et d’une stratégie de développement des activités de collecte de matériel en lettres et en sciences humaines provenant de pays de l’Europe de l’Ouest et de pays anglophones. Elle détient un doctorat en littérature comparée de l’Université de Montréal et également de l’Université Jean Moulin Lyon 3.</p>
			</div>
		</div>

	</div>
</section>

<section id="media" class="media-block">
	<h2 ng-show="language=='english'">Media</h2>
	<h2 ng-show="language=='francais'">Media</h2>
	<div class=" media-cards">
		<md-card class="media-card paper-card">
			<span class="organization">TV5Monde</span>
			<a href="http://information.tv5monde.com/les-jt/64-minutes#edition0" target="_blank">
				<h3>
					L'édition du 10/02/2016
				</h3>
			</a>
			<p>
				10 février 2016.
			</p>
			<a href="http://information.tv5monde.com/les-jt/64-minutes#edition0" class="icon-link" target="_blank">
				<i class="material-icons">launch</i>
			</a>
		</md-card>

		<md-card class="media-card paper-card">
			<span class="organization">Le Monde</span>
			<a href="http://www.lemonde.fr/societe/article/2016/01/10/je-suis-charlie-et-je-ne-suis-pas-charlie-integrent-harvard_4844679_3224.html" target="_blank">
				<h3>
					« Je suis Charlie » et « Je ne suis pas Charlie » intègrent Harvard
				</h3>
			</a>
			<p>
				Par Lucie Soullier. 10 janvier 2016.
			</p>
			<a href="http://www.lemonde.fr/societe/article/2016/01/10/je-suis-charlie-et-je-ne-suis-pas-charlie-integrent-harvard_4844679_3224.html" class="icon-link" target="_blank">
				<i class="material-icons">launch</i>
			</a>
		</md-card>

		<md-card class="media-card paper-card">
			<span class="organization">Harvard Gazette</span>
			<a href="http://news.harvard.edu/gazette/story/newsplus/the-charlie-archive-documents-a-global-response/" target="_blank">
				<h3>
					The Charlie Archive documents a global response
				</h3>
			</a>
			<p>
				28 octobre 2015.
			</p>
			<a href="http://news.harvard.edu/gazette/story/newsplus/the-charlie-archive-documents-a-global-response/" class="icon-link" target="_blank">
				<i class="material-icons">launch</i>
			</a>
		</md-card>

		<md-card class="media-card paper-card">
			<span class="organization">Harvard University Libraries</span>
			<a href="http://library.harvard.edu/10262015-1514/charlie-archive-documents-global-response" target="_blank">
				<h3>
					The Charlie Archive Documents a Global Response
				</h3>
			</a>
			<p>
				28 octobre 2015.
			</p>
			<a href="http://library.harvard.edu/10262015-1514/charlie-archive-documents-global-response" class="icon-link" target="_blank">
				<i class="material-icons">launch</i>
			</a>
		</md-card>

		<md-card class="media-card paper-card">
			<span class="organization">The Crimson</span>
			<a href="http://www.thecrimson.com/article/2015/10/5/charlie-hebdo-library-archive/" target="_blank">
				<h3>
					After Attacks, Harvard Library Archive Charlie Hebdo Materials
				</h3>
			</a>
			<p>
				Nathaniel J. Hiatt. 5 octobre 2015.
			</p>

			<a href="http://www.thecrimson.com/article/2015/10/5/charlie-hebdo-library-archive/" target="_blank" class="icon-link">
				<i class="material-icons">launch</i>
			</a>
		</md-card>

		<md-card class="media-card paper-card">
			<span class="organization">TV 5 Monde</span>
			<a href="http://information.tv5monde.com/archives/les-jt/monde?date=2015-10-21T02%3A00Z" target="_blank">
				<h3>
					L'édition du 21.10.2015
				</h3>
			</a>
			<p>
				21 octobre 2015.
			</p>
			<a href="http://information.tv5monde.com/archives/les-jt/monde?date=2015-10-21T02%3A00Z" target="_blank" class="icon-link">
				<i class="material-icons">launch</i>
			</a>
		</md-card>

		<md-card class="media-card paper-card">
			<span class="organization">Yahoo News</span>
			<a href="https://fr.news.yahoo.com/luniversit%C3%A9-dharvard-lance-appel-%C3%A0-contributions-cr%C3%A9er-archives-221422873.html" target="_blank">
				<h3>
					L'université d'Harvard lance un appel à contributions pour créer des archives "Charlie" sur les attentats de janvier
				</h3>
			</a>
			<p>
				1 octobre 2015.
			</p>
			<a href="https://fr.news.yahoo.com/luniversit%C3%A9-dharvard-lance-appel-%C3%A0-contributions-cr%C3%A9er-archives-221422873.html" target="_blank" class="icon-link">
				<i class="material-icons">launch</i>
			</a>
		</md-card>

		<md-card class="media-card paper-card">
			<span class="organization">France TV Info</span>
			<a href="http://www.francetvinfo.fr/faits-divers/attaque-au-siege-de-charlie-hebdo/l-universite-d-harvard-lance-un-appel-a-contributions-pour-creer-des-archives-charlie-sur-les-attentats-de-janvier_1106935.html" target="_blank">
				<h3>
					L'université d'Harvard lance un appel à contributions pour créer des archives "Charlie" sur les attentats de janvier
				</h3>
			</a>
			<p>
				30 septembre 2015.
			</p>
			<a href="http://www.francetvinfo.fr/faits-divers/attaque-au-siege-de-charlie-hebdo/l-universite-d-harvard-lance-un-appel-a-contributions-pour-creer-des-archives-charlie-sur-les-attentats-de-janvier_1106935.html" target="_blank" class="icon-link">
				<i class="material-icons">launch</i>
			</a>

		</md-card>

		<md-card class="media-card paper-card">
			<span class="organization">Liberation</span>
			<a href="http://www.liberation.fr/direct/element/harvard-veut-creer-des-archives-charlie_19289/" target="_blank">
				<h3>
					Harvard veut créer des archives «Charlie»
				</h3>
			</a>
			<p>
				30 septembre 2015.
			</p>
			<a href="http://www.liberation.fr/direct/element/harvard-veut-creer-des-archives-charlie_19289/" target="_blank" class="icon-link">
				<i class="material-icons">launch</i>
			</a>

		</md-card>

		<md-card class="media-card paper-card">
			<span class="organization">Europe1</span>
			<a href="http://www.europe1.fr/societe/harvard-lance-une-collecte-de-temoignages-sur-les-attentats-de-charlie-hebdo-2522609#la_comment_europe1_1436987" target="_blank">
				<h3>
					Harvard lance une collecte de témoignages sur les attentats de Charlie Hebdo
				</h3>
			</a>
			<p>
				30 septembre 2015.
			</p>
			<a href="http://www.europe1.fr/societe/harvard-lance-une-collecte-de-temoignages-sur-les-attentats-de-charlie-hebdo-2522609#la_comment_europe1_1436987" class="icon-link" target="_blank">
				<i class="material-icons">launch</i>
			</a>
		</md-card>

		<md-card class="media-card paper-card">
			<span class="organization">France Bleu</span>
			<a  href="https://www.francebleu.fr/infos/societe/charlie-hebdo-l-universite-d-harvard-lance-une-collecte-de-documents-et-de-temoignages-1443621527" target="_blank">
				<h3>
					INFO FRANCE BLEU | Attentats de Charlie Hebdo : l'université d'Harvard lance une collecte de témoignages
				</h3>
			</a>
			<p>
				Par Julien Baldacchino, France Bleu. 30 septembre 2015 à 16:34.
			</p>
			<a  href="https://www.francebleu.fr/infos/societe/charlie-hebdo-l-universite-d-harvard-lance-une-collecte-de-documents-et-de-temoignages-1443621527" class="icon-link" target="_blank">
				<i class="material-icons">launch</i>
			</a>

		</md-card>


	</div>
</section>


<section id="propose-submission" class="submission-proposal">

	<div class="block-inner" ng-show="successful_submission">

		<h2 ng-show="language=='english'">Proposal Successful</h2>
		<p class="" ng-show="language=='english'">Thank you for proposing a submission!  You will hear from the Harvard Charlie Archive regarding your proposal soon.</p>

		<h2 ng-show="language=='francais'">Proposal Successful</h2>
		<p ng-show="language=='francais'">Thank you for proposing a submission!  You will hear from the Harvard Charlie Archive regarding your proposal soon.</p>

	</div>

	<div class="block-inner" ng-hide="successful_submission">

		<h2 ng-show="language=='english'">Submission proposal</h2>
		<h2 ng-show="language=='francais'">Formulaire de contribution</h2>

		<p class="form-entry" ng-show="language=='english'">
		The materials we seek to collect could include articles, art, badges, banners, blogs, books, bulletins, cartoons, comments, debates, drawings, essays, fiction, films, flyers, graffiti, information sheets, leaflets, magazines, manuscripts, minutes of meetings, newsletters, newspapers, objects, oral history narratives, pamphlets, photographs, podcasts, poems, posters, songs, texts, TV programs, tweets, or websites. We are especially interested in the ephemeral materials that might not otherwise be captured in a library collection.
		</p>
		<p class="form-entry" ng-show="language=='english'">
		If you want to contribute to the CAHL project, please let us know what your materials are by filling the submission proposal form. We will answer you promptly. <span class="required">*</span> denotes a required field.
		</p>


		<p class="form-entry" ng-show="language=='francais'">
		Les documents que nous cherchons à rassembler sont de nature diverse : affiches, articles, badges, banderoles, blogs, brochures, bulletins d’information, caricatures, chansons, commentaires, communiqués, comptes rendus de réunions, débats, dépliants, dessins, émissions de télévision, essais, fiches d’information, fiction, films, graffitis, insignes, journaux, livres, magazines, manuscrits, objets, récits oraux, photographies, podcasts, poèmes, sites web, textes, tweets, etc. Nous sommes particulièrement intéressés par des documents éphémères qui ne feraient autrement pas partie des collections de bibliothèques.
		</p>
		<p class="form-entry" ng-show="language=='francais'">
		Si vous désirez donner des documents aux Archives Charlie à la Bibliothèque de Harvard, veuillez remplir le formulaire de contribution.
		</p>


		<div class="submission-form-wrap">


			{{'[contact-form-7 id="4" title="Submission Proposal"]'|shortcodes}}



		</div>

	</div>
</section>





{% endblock %}
