{% extends "base.twig" %}

{% block content %}

<div class="blocks" data-ng-controller="HCAController as hca_controller">

	<div class="block head">

		<div class="top-left">
			<div class="harvard-romance-languages-department-logo">
				<img src="/wp-content/themes/hca/img/harvard_romance_languages_and_literatures_department_logo.png"  alt="Harvard Romance Languages and Literatures Department"/>
			</div>

		</div>

		<div class="top-right">
			<div class="languages">
				<img class="french-flag language" src="/wp-content/themes/hca/img/french_flag.png" ng-click="toggle_language($event)" data-language="francais"/>
				<img class="english-flag language" src="/wp-content/themes/hca/img/american_flag.png" ng-click="toggle_language($event)" data-language="english"/>
			</div>
		</div>

		<div class="bottom-right">
			<div class="social-wrap">
				<a href="/">
					<span class="fa fa-facebook"></span>
				</a>
				<a href="/">
					<span class="fa fa-twitter"></span>
				</a>
			</div>
		</div>

		<div class="center-wrap text-overlay">
		
			<h1 class="site-title">
			Harvard Charlie Archive
			</h1>

			<nav role="main" class="primary head-nav">
				<a href="#project" data-link_id="project">	
					Project
				</a>
				<a href="#who-we-are" data-link_id="who-we-are">
					Who We Are
				</a>
				<a href="#propose-submission" data-link_id="propose-submission">
					Submission Proposal
				</a>

			</nav>
	
		</div>


	</div>

	<div class="block intro">
		<div class="block-inner">

			<div class="intro-block-image">
				<img src="/wp-content/themes/hca/img/event_soldiers.jpg">
			</div>

			<div class="intro-block-text">
				<h3>Paris, January 7th intro text . . . </h3>
				<p>Quid faciat laetas segetes quo sidere terram vertere, Mycenas, ulmisque adiungere vites conveniat quae curum boum qui cultus habendo sit pecori apibus quanta experientia parcis, hinc canere incipiam; vos, o clarissima mundi, lumina, labentes caelo quae ducitis annum, liber et alma ceres, vestro si munere tellus, chaoniam pingui glandem mutavit aristra
				</p>
			</div>

		</div>
	</div>

	<div class="block block-image intro-image">
	</div>

	<div id="project" class="block project-description">
		<div class="block-inner">
			<h2>Archive Project Description</h2>


			<div class="project-description-text">
				<p>Quid faciat laetas segetes quo sidere terram vertere, Mycenas, ulmisque adiungere vites conveniat quae curum boum qui cultus habendo sit pecori apibus quanta experientia parcis, hinc canere incipiam; vos, o clarissima mundi, lumina, labentes caelo quae ducitis annum, liber et alma ceres, vestro si munere tellus, chaoniam pingui glandem mutavit aristra
				</p>
				<p>curum boum qui cultus habendo sit pecori apibus quanta experientia parcis, hinc canere incipiam; vos, o clarissima mundi, lumina, labentes caelo quae ducitis annum, liber et alma ceres, vestro si munere tellus, chaoniam pingui glandem mutavit aristra
				</p>
			</div>

			<div class="project-description-image">
				<img src="/wp-content/themes/hca/img/sign_and_flowers.jpg">
			</div>

		</div>
	</div>

	<div class="block how-it-works">
		<div class="block-inner">
			<h2>How It Works</h2>

			<div class="flowchart-wrap">
				<div class="step-one flowchart-step">
					<span class="step-text">Step 1: Quid faciat laetas segetes</span>
				</div>
				<span class="flowchart-down fa fa-long-arrow-down"></span>
				<div class="step-two flowchart-step">
					<span class="step-text">Step 2: quo sidere terram vertere, Mycenas</span>
				</div>

				</div>
				<span class="flowchart-down fa fa-long-arrow-down"></span>
				<div class="step-three flowchart-step">
					<span class="step-text">Step 3: ulmisque adiungere vites conveniat</span>
				</div>	

			</div>

		</div>
	</div>

	<div id="who-we-are" class="block who-we-are">
		<div class="block-inner">
			<h2>Who We Are</h2>
			<div class="team-member team-member-head">
				<div class="team-member-image">
					<img src="/wp-content/themes/hca/img/republique.jpg"/>
				</div>
				<div class="team-member-text">
					<h3>Doctor Virginie Green</h3>
					<p>Quid faciat laetas segetes quo sidere terram vertere, Mycenas, ulmisque adiungere vites conveniat quae curum boum qui cultus habendo sit pecori apibus quanta experientia parcis, hinc canere incipiam; vos, o clarissima mundi, lumina, labentes</p>
				</div>
			</div>
			<div class="team-member team-member-primary">
				<div class="team-member-image">
					<img src="/wp-content/themes/hca/img/republique.jpg"/>
				</div>
				<div class="team-member-text">
					<h3>HCA Team Member</h3>
					<p>Quid faciat laetas segetes quo sidere terram vertere, Mycenas, ulmisque adiungere vites conveniat quae curum boum qui cultus habendo sit pecori apibus quanta experientia parcis, hinc canere incipiam; vos, o clarissima mundi, lumina, labentes</p>
				</div>
			</div>

		</div>
	</div>

	<div class="block block-image submission-image">
	</div>

	<div id="propose-submission" class="block submission-proposal">
		<div class="block-inner">
			<h2>Propose a Submission</h2>
			<span class="form-help-text">Please fill out as many values as possible to expedite our response to your proposal for a submission to the Harvard Charlie Archive.  <span class="required">*</span> denotes a required field.</span>
			<div class="submission-form-wrap">

				<form class="submission-form" ng-submit="check_send($event)" name="submission_form">

					<div class="submission-input-field">
						<label>First name<span class="required">*</span></label>
						<input type="text" ng-model="submission.first_name" ng-maxlength="100" required/>
					</div>

					<div class="submission-input-field">
						<label>Last name<span class="required">*</span></label>
						<input type="text" ng-model="submission.last_name" ng-maxlength="100" required/>
					</div>

					<div class="submission-input-field">
						<label>Email<span class="required">*</span></label>
						<input type="text" ng-model="submission.email" ng-maxlength="100" required/>
					</div>

					<div class="submission-input-field">
						<label>Street Address</label>
						<input type="text" ng-model="submission.street_address" ng-maxlength="200"/>
					</div>

					<div class="submission-input-field">
						<label>Country</label>
						<input type="text" ng-model="submission.country" ng-maxlength="100"/>
					</div>

					<div class="submission-input-field">
						<label>City</label>
						<input type="text" ng-model="submission.city" ng-maxlength="100"/>
					</div>

					<div class="submission-input-field">
						<label>State/Province</label>
						<input type="text" ng-model="submission.state_province" ng-maxlength="100"/>
					</div>

					<div class="submission-input-field">
						<label>Zip Code</label>
						<input type="text" ng-model="submission.zip_code" ng-maxlength="12"/>
					</div>

					<div class="send-in-1-input-field half-field">
						<input id="send_in_1" type="checkbox" ng-model="submission.by_internet" />
						<label for="send_in_1" class="field-text">Will you send this material through email or the internet?</label>	
					</div>

					<div class="send-in-2-input-field half-field">
						<input id="send_in_2" type="checkbox" ng-model="submission.by_mail" />
						<label for="send_in_2" class="field-text">Will you send this material through postal services?</label>	
					</div>

					<h4>Type of material</h4>

					<div class="submission-input-field-wide">
						<label>Which terms would best describe this material?<span class="required">*</span></label>
						<span class="help-text">Example: Article, Artwork, Banner, Blog, Book, Cartoon, Comment, Debate, Drawing, Ephemeral, Essay, Fiction, Film, Graffiti, Magazine, Manuscript, Newspaper, Object, Pamphlet, Photograph, Poem, Poster, Song, Text, TV program, Tweet, Website, etc.</span>
						<textarea ng-model="submission.description_terms" ng-maxlength="1000" required></textarea>
					</div>

					<div class="submission-input-field-wide">
						<label>Describe in your own words the material you would like to donate<span class="required">*</span></label>
						<span class="help-text">Maximum 100 words.</span>
						<textarea ng-model="submission.description_text" ng-maxlength="1000" required></textarea>
					</div>

					<div class="submission-input-field-wide">
						<label>Location of the material</label>
						<span class="help-text">Where the material was made, found, used, processed, etc.</span>
						<input type="text" ng-model="submission.location" ng-maxlength="100"/>
					</div>

					<div class="submission-input-field-wide">
						<label>Date of the material</label>
						<span class="help-text">When the material was made, found, used, processed, etc.</span>
						<input type="text" ng-model="submission.date" ng-maxlength="100"/>
					</div>

					<div class="submission-input-field-wide">
						<label>Author, maker, source</label>
						<input type="text" ng-model="submission.author_maker_source" ng-maxlength="100"/>
					</div>

					<div class="submission-input-field-wide">
						<label>Please attach a photo of the material, if possible</label>
						<span class="help-text">Accepted image formats include jpg, png, and tiff.  File size must not exceed 1 MB.</span>
						<input type="text" ng-model="submission.image" />
					</div>

					<div class="include-name-input-field checkbox-field">
						<input id="include_name" type="checkbox" ng-model="submission.name_included" ng-maxlength="100"/>
						<label for="include_name" class="field-text">Would you like your name included in the Archive?</label>	
					</div>



					<!-- Last form fields and submit -->	

					<div class="accept-input-field checkbox-field">
						<input id="i_accept" type="checkbox" />
						<label for="i_accept" class="field-text">If my proposal is accepted, I agree to donate this material to the Charlie Archive at Harvard University Library for preservation and distribution for research and educational purposes. I understand that I will not receive financial compensation.</label>	
					</div>


					<div class="submit-input-field checkbox-field">
						<input type="submit" value="Submit"/>
					</div>

				</form>

			</div>

		</div>
	</div>




</div>


{% endblock %}