{% extends "base.twig" %}

{% block content %}

<div class="blocks" >

	<div class="block head">

		<div class="block-head-background-screen">
		</div>

		<div class="top-left">
			<div class="harvard-romance-languages-department-logo">
				<img src="/wp-content/themes/hca/min/img/harvard_romance_languages_and_literatures_department_logo.png"  alt="Harvard Romance Languages and Literatures Department"/>
			</div>

		</div>

		<div class="top-right">
			<div class="languages">
				<img class="french-flag language" src="/wp-content/themes/hca/min/img/french_flag.png" ng-click="toggle_language($event)" data-language="francais"/>
				<img class="english-flag language selected-language" src="/wp-content/themes/hca/min/img/american_flag.png" ng-click="toggle_language($event)" data-language="english"/>
			</div>
		</div>

		<div class="bottom-right">
			<div class="social-wrap">
				<a href="/">
					<span class="fa fa-facebook"></span>
				</a>
				<a href="/">
					<span class="fa fa-twitter"></span>
				</a>
			</div>
		</div>

		<div class="center-wrap text-overlay">
		
			<h1 class="site-title" ng-show="language=='english'">
			The Charlie Archive <br>at the Harvard Library
			</h1>
			<h1 class="site-title" ng-show="language=='francais'">
			Archives Charlie à Harvard
			</h1>

			<nav role="main" class="primary head-nav">
				<a href="#project" data-link_id="project" ng-show="language=='english'">	
					Project
				</a>
				<a href="#who-we-are" data-link_id="who-we-are" ng-show="language=='english'">
					Who We Are
				</a>
				<a href="#propose-submission" data-link_id="propose-submission" ng-show="language=='english'">
					Submission Proposal
				</a>
				<a href="#project" data-link_id="project" ng-show="language=='francais'">	
					Description de projet
				</a>
				<a href="#who-we-are" data-link_id="who-we-are" ng-show="language=='francais'">
					Who We Are
				</a>
				<a href="#propose-submission" data-link_id="propose-submission" ng-show="language=='francais'">
					Formulaire de contribution
				</a>

			</nav>
	
		</div>


	</div>

	<div class="block intro">
		<div class="block-inner">

			<div class="intro-block-image">
				<img src="/wp-content/themes/hca/min/img/event_soldiers.jpg">
			</div>

			<div class="intro-block-text">
				<h3 ng-show="language=='english'">Introduction</h3>
				<p class="block-teaser" ng-show="language=='english'">
				The attacks of January 7, 8 and 9 against Charlie Hebdo and a kosher supermarket in Paris have started a vigorous political debate on fundamental issues such as freedom of expression and its limits, state and religion, religions and societies, respect for beliefs and perspectives other than our own, inequalities, and the disenfranchisement of individuals and communities. Participants in this debate represent a large sample of political positions and social backgrounds. They are diverse in age, gender, and ethnicity. If the main reactions occurred in France, the media coverage turned these events into global news for a while, and the debate extended outside of France. “Je suis Charlie” or “Je ne suis pas Charlie” became international expressions of adhesion to or distance from the stance attributed to Charlie Hebdo with regard to religion in general and to Islam in particular.
				</p>
				<h3 ng-show="language=='francais'">Introduction</h3>
				<p class="block-teaser" ng-show="language=='francais'">
				Les attaques du 7, 8 et 9 janvier contre Charlie Hebdo et un supermarché casher à Paris ont lancé un débat politique vigoureux sur des problématiques fondamentales telles que la liberté d’expression et ses limites, le rapport entre état et religion, les religions et les sociétés, le respect pour les croyances et les perspectives qui diffèrent des nôtres, les inégalités, et la privation des droits civiques des individus et des communautés. Les participants de ce débat représentent un large éventail de positions politiques et de milieux sociaux. Leur âge, sexe et origine ethnique varient. Même si les réactions principales ont eu lieu en France, la couverture médiatique a transformé ces événements en actualités globales pour un long moment, et le débat s’est étendu au-delà des frontières de l’Hexagone. «Je suis Charlie» et «Je ne suis pas Charlie» sont devenues des expressions internationales d’attachement ou de distanciation par rapport à la position attribuée à Charlie Hebdo sur la religion en général et l’islam surtout. 
				</p>
			</div>

		</div>
	</div>

	<div class="block block-image intro-image">
		<div class="image-screen"></div>	
	</div>

	<div class="block goals">
		<div class="block-inner">
			<h2 ng-show="language=='english'">Goals</h2>
			<h2 ng-show="language=='francais'">Buts</h2>
			<div class="goals-text">
				<p class="block-teaser" ng-show="language=='english'">
				The main goal of the Charlie Archive at the Harvard Library project is to preserve manuscript, printed, digital, and ephemeral materials produced in the aftermath of these events. These materials will be archived by Harvard Library, and made available for research and education to scholars, teachers, and students. For scholars, the archive will be used as a resource for research in various fields and disciplines. For teachers and students, the archive will serve as a database and resource for the development of teaching materials. For all future users of the library, it will document a peculiar moment in the early twenty-first century, when the word “Charlie” all of a sudden took on tragic significance, and became charged with conflicting emotions, opinions, and agendas.
				</p>
				<p class="block-teaser" ng-show="language=='francais'">
				Le but principal du projet des Archives Charlie à la Bibliothèque de Harvard est de préserver des documents manuscrits, imprimés, digitaux et éphémères produits à la suite de ces événements. Ces documents seront archivés par la Bibliothèque de Harvard, et nous les rendrons disponibles pour la recherche et l’éducation. Pour les spécialistes, les archives seront utiles en tant que ressource pour des recherches en différents domaines et disciplines. Pour les enseignants et les élèves, les archives serviront de banque de données et de ressource pour le développement de matériel pédagogique. Pour tous les utilisateurs futurs de la bibliothèque, ces archives documenteront un moment particulier du début du 21ème siècle, où le mot Charlie acquiert soudainement un sens tragique, et devient lourd d’émotions ambivalentes, d’opinions et d’intentions ouvertes ou cachées.
				</p>
			</div>

			<div class="goals-image">
				<img src="/wp-content/themes/hca/min/img/sign_and_flowers.jpg">
			</div>

		</div>
	</div>

	<div id="project" class="block project-description">
		<div class="block-inner">
			<h2 ng-show="language=='english'">Project Description</h2>
			<h2 ng-show="language=='francais'">Description de projet</h2>

			<!-- div class="intro-block-image">
				<img src="/wp-content/themes/hca/min/img/event_soldiers.jpg">
			</div-->

			<div class="project-description-text" ng-show="language=='english'">
				<p >
				We seek to collect, organize, and archive a wide array of print and digital materials that represent a diversity of perspectives through different media responding to the events themselves or contributing to the debates around the events. Materials could include articles, art, badges, banners, blogs, books, bulletins, cartoons, comments, debates, drawings, essays, fiction, films, flyers, graffiti, information sheets, leaflets, magazines, manuscripts, minutes of meetings, newsletters, newspapers, objects, oral history narratives, pamphlets, photographs, podcasts, poems, posters, songs, texts, TV programs, tweets, websites, and any other ephemeral material produced by individuals or community organizations.  We are especially interested in the ephemeral materials that might not otherwise be captured in a library collection but are crucial to making sense of these events and conversations.
				</p>
				<p>
				In the first phase of the project, we invite interested members of the public, in France and elsewhere, to contribute materials.   
				<p>
				Future developments may include curating virtual or real exhibitions, connecting with other archives, or documenting the evolution of the debate on political and religious satire or on other related topics. The most exciting aspect of this project is that we don’t know where it can lead us and how it will evolve.
				</p>
			</div>
			<div class="project-description-text" ng-show="language=='francais'">
				<p >
				Nous cherchons à rassembler, organiser et archiver une grande variété de documents imprimés et digitaux qui représentent un large éventail de perspectives différentes par le biais de différents médias qui réagissent aux événements eux-mêmes, ou qui contribuent aux débats autour de ces événements. Ces documents peuvent inclure des affiches, de l’art, des articles, des banderoles, des blogs, des brochures, des bulletins d’information, des caricatures, des chansons,  des commentaires, des communiqués, des comptes rendus de réunions, des débats, des dépliants, des dessins, des émissions de télévision, des essais, des fiches d’information, de la fiction, des films, des graffitis, des insignes, des journaux, des livres, des magazines, des manuscrits, des objets, des récits oraux d’histoire, des photographies, des podcasts, des poèmes, des sites web, des textes, des tweets, et d’autres documents éphémères produits par des individus ou des organismes communautaires. Nous sommes surtout intéressés par des documents éphémères qui ne seraient autrement pas inclus dans des collections de bibliothèques mais qui demeurent essentielles à une compréhension de ces événements et une conversation éclairée.   
				</p>
				<p>
				Pour la première phase du projet, nous invitons les membres intéressés du public, en France et ailleurs, à contribuer des documents. 
				</p>
				<p>
				Les développements futurs pourraient inclure l’organisation d’expositions virtuelles ou réelles, la communication avec d’autres archives ou la collecte de données sur l’évolution du débat sur la satire religieuse et politique ou d’autres sujets reliés. L’aspect le plus passionnant de ce projet est que nous ne savons pas où il peut nous mener et comment il évoluera. 
				</p>
			</div>


		</div>
	</div >

	<!--div class="block how-it-works">
		<div class="block-inner">
			<h2>How It Works</h2>

			<div class="flowchart-wrap">
				<div class="step-one flowchart-step">
					<span class="step-text">Step 1: Quid faciat laetas segetes</span>
				</div>
				<span class="flowchart-down fa fa-long-arrow-down"></span>
				<div class="step-two flowchart-step">
					<span class="step-text">Step 2: quo sidere terram vertere, Mycenas</span>
				</div>

				<span class="flowchart-down fa fa-long-arrow-down"></span>
				<div class="step-three flowchart-step">
					<span class="step-text">Step 3: ulmisque adiungere vites conveniat</span>
				</div>	

			</div>

		</div>
	</div -->

	<div id="who-we-are" class="block who-we-are">
		<div class="block-inner">
			<h2 ng-show="language=='english'">Who We Are</h2>
			<h2 ng-show="language=='francais'">Who We Are</h2>
			<div class="team-member team-member-head">
				<!--div class="team-member-image">
					<img src="/wp-content/themes/hca/min/img/harvard_doctor_virginie_greene.jpg" alt="Virginie Greene" title="Virginie Greene"/>
				</div-->
				<div class="team-member-text team-member-text-wide">
					<h3>Virginie Greene</h3>
					<p class="supplementary" ng-show="language=='english'">Quid faciat laetas segetes quo sidere terram vertere, Mycenas, ulmisque adiungere vites conveniat quae curum boum qui cultus habendo sit pecori apibus quanta experientia parcis, hinc canere incipiam; vos, o clarissima mundi, lumina, labentes</p>
					<p class="supplementary" ng-show="language=='francais'">Quid faciat laetas segetes quo sidere terram vertere, Mycenas, ulmisque adiungere vites conveniat quae curum boum qui cultus habendo sit pecori apibus quanta experientia parcis, hinc canere incipiam; vos, o clarissima mundi, lumina, labentes</p>
				</div>
			</div>
			<div class="team-member team-member-primary">
				<div class="team-member-image">
					<img src="/wp-content/themes/hca/min/img/republique.jpg"/>
				</div>
				<div class="team-member-text">
					<h3>HCA Team Member</h3>
					<p class="supplementary">Quid faciat laetas segetes quo sidere terram vertere, Mycenas, ulmisque adiungere vites conveniat quae curum boum qui cultus habendo sit pecori apibus quanta experientia parcis, hinc canere incipiam; vos, o clarissima mundi, lumina, labentes</p>
				</div>
			</div>
			<div class="team-member team-member-primary">
				<div class="team-member-image">
					<img src="/wp-content/themes/hca/min/img/republique.jpg"/>
				</div>
				<div class="team-member-text">
					<h3>HCA Team Member</h3>
					<p class="supplementary">Quid faciat laetas segetes quo sidere terram vertere, Mycenas, ulmisque adiungere vites conveniat quae curum boum qui cultus habendo sit pecori apibus quanta experientia parcis, hinc canere incipiam; vos, o clarissima mundi, lumina, labentes</p>
				</div>
			</div>
			<div class="team-member team-member-primary">
				<div class="team-member-image">
					<img src="/wp-content/themes/hca/min/img/republique.jpg"/>
				</div>
				<div class="team-member-text">
					<h3>HCA Team Member</h3>
					<p class="supplementary">Quid faciat laetas segetes quo sidere terram vertere, Mycenas, ulmisque adiungere vites conveniat quae curum boum qui cultus habendo sit pecori apibus quanta experientia parcis, hinc canere incipiam; vos, o clarissima mundi, lumina, labentes</p>
				</div>
			</div>

		</div>
	</div>

	<div class="block block-image submission-image">
		<div class="image-screen"></div>	
	</div>

	<div id="propose-submission" class="block submission-proposal">
		<div class="block-inner" ng-show="successful_submission">
			<h2 ng-show="language=='english'">Proposal Successful</h2>
			<p ng-show="language=='english'">Thank you for proposing a submission!  You will hear from the Harvard Charlie Archive regarding your proposal soon.</p>
			<h2 ng-show="language=='francais'">Proposal Successful</h2>
			<p ng-show="language=='francais'">Thank you for proposing a submission!  You will hear from the Harvard Charlie Archive regarding your proposal soon.</p>
		</div>

		<div class="block-inner" ng-hide="successful_submission">

			<h2 ng-show="language=='english'">Propose a Submission</h2>
			<h2 ng-show="language=='francais'">Formulaire de contribution</h2>

			<span class="form-help-text">Please fill out as many values as possible to expedite our response to your proposal for a submission to the Harvard Charlie Archive.  <span class="required">*</span> denotes a required field.</span>
			<div class="submission-form-wrap">

				<form  id="submission_form" class="submission-form"  name="submission_form" ng-submit="submit()">

					<div class="submission-input-field">
						<label ng-show="language=='english'">First name<span class="required">*</span></label>
						<label ng-show="language=='francais'">Prénom<span class="required">*</span></label>
						<input type="text" ng-model="submission.first_name" ng-maxlength="100" required/>
					</div>

					<div class="submission-input-field">
						<label ng-show="language=='english'">Last name<span class="required">*</span></label>
						<label ng-show="language=='francais'">Nom de famille<span class="required">*</span></label>
						<input type="text" ng-model="submission.last_name" ng-maxlength="100" required/>
					</div>

					<div class="submission-input-field">
						<label ng-show="language=='english'">Home Address</label>
						<label ng-show="language=='francais'">Adresse domiciliaire</label>
						<textarea ng-model="submission.street_address" ng-maxlength="200"></textarea>
					</div>

					<div class="submission-input-field">
						<label ng-show="language=='english'">Email<span class="required">*</span></label>
						<label ng-show="language=='francais'">Email<span class="required">*</span></label>
						<input type="text" ng-model="submission.email" ng-maxlength="100" required/>
					</div>


					<!--div class="submission-input-field">
						<label>Country</label>
						<input type="text" ng-model="submission.country" ng-maxlength="100"/>
					</div>

					<div class="submission-input-field">
						<label>City</label>
						<input type="text" ng-model="submission.city" ng-maxlength="100"/>
					</div>

					<div class="submission-input-field">
						<label>State/Province</label>
						<input type="text" ng-model="submission.state_province" ng-maxlength="100"/>
					</div>

					<div class="submission-input-field">
						<label>Zip Code</label>
						<input type="text" ng-model="submission.zip_code" ng-maxlength="12"/>
					</div-->

					<h4 ng-show="language=='english'">Type of material</h4>
					<h4 ng-show="language=='francais'">Type de document</h4>

					<div class="send-in-1-input-field send-in-input-field">
						<span class="field-label" ng-show="language=='english'">Will you send this material through email or the internet?</span>	
						<span class="field-label" ng-show="language=='francais'">Pensez-vous envoyer ce document par mail ou internet?</span>	
						<label for="send_in_1_1" class="field-text" >
						<input id="send_in_1_1" type="radio" ng-model="submission.by_internet" value="yes"/>
							<span ng-show="language=='english'">Yes</span>
							<span ng-show="language=='francais'">Oui</span>
						</label>
						<label for="send_in_1_2" class="field-text">
						<input id="send_in_1_2" type="radio" ng-model="submission.by_internet" value="no"/>
							<span ng-show="language=='english'">No</span>
							<span ng-show="language=='francais'">Non</span>
						</label>
					</div>

					<div class="send-in-2-input-field send-in-input-field">
						<span class="field-label" ng-show="language=='english'">Will you send this material through postal services?</span>	
						<span class="field-label" ng-show="language=='francais'">Pensez-vous envoyer ce document par la poste?</span>	
						<label for="send_in_2_1" class="field-text">
						<input id="send_in_2_1" type="radio" ng-model="submission.by_mail" value="yes"/>
							<span ng-show="language=='english'">Yes</span>
							<span ng-show="language=='francais'">Oui</span>
						</label>
						<label for="send_in_2_2" class="field-text">
						<input id="send_in_2_2" type="radio" ng-model="submission.by_mail" value="no"/>
							<span ng-show="language=='english'">No</span>
							<span ng-show="language=='francais'">Non</span>
						</label>
					</div>


					<div class="submission-input-field-wide">
						<label ng-show="language=='english'">Which terms would best describe this material?<span class="required">*</span></label>
						<label ng-show="language=='francais'">Quel(s) terme(s) décri(ven)t le mieux ce document?<span class="required">*</span></label>
						<span class="help-text" ng-show="language=='english'">Example: Article, Artwork, Banner, Blog, Book, Cartoon, Comment, Debate, Drawing, Ephemeral, Essay, Fiction, Film, Graffiti, Magazine, Manuscript, Newspaper, Object, Pamphlet, Photograph, Poem, Poster, Song, Text, TV program, Tweet, Website, etc.</span>
						<span class="help-text" ng-show="language=='francais'">Exemple: Affiche, Article, Bannière, Blog, Caricature, Chanson, Commentaire, Débat, Dessin, Émission de télévision, Éphémère, Essai, Fiction, Film, Graffiti, Journal, Magazine, Manuscrit, Livre, Objet, Œuvre d’art, Pamphlet, Photographie, Poème, Site web, Texte, Tweet, etc</span>
						<textarea ng-model="submission.description_terms" ng-maxlength="1000" required></textarea>
					</div>

					<div class="submission-input-field-wide">
						<label ng-show="language=='english'">Describe in your own words the material you would like to donate<span class="required">*</span></label>
						<label ng-show="language=='francais'">Décrivez en vos propres mots le document que vous voudriez donner<span class="required">*</span></label>
						<span class="help-text" ng-show="language=='english'">Maximum 100 words.</span>
						<span class="help-text" ng-show="language=='francais'">Maximum 100 words.</span>
						<textarea ng-model="submission.description_text" ng-maxlength="1000" required></textarea>
					</div>

					<div class="submission-input-field-wide">
						<label ng-show="language=='english'">Location of the material</label>
						<label ng-show="language=='francais'">Emplacement du document</label>
						<span class="help-text" ng-show="language=='english'">Where the material was made, found, used, processed, etc.</span>
						<span class="help-text" ng-show="language=='francais'">où il a été fait, trouvé, utilisé ou traité</span>
						<input type="text" ng-model="submission.location" ng-maxlength="100"/>
					</div>

					<div class="submission-input-field-wide">
						<label ng-show="language=='english'">Date of the material</label>
						<label ng-show="language=='francais'">Date du document</label>
						<span class="help-text" ng-show="language=='english'">When the material was made, found, used, processed, etc.</span>
						<span class="help-text" ng-show="language=='francais'">quand il a été fait, trouvé, utilisé ou traité</span>
						<input type="text" ng-model="submission.date" ng-maxlength="100"/>
					</div>

					<div class="submission-input-field-wide">
						<label ng-show="language=='english'">Author, maker, source</label>
						<label ng-show="language=='francais'">Auteur, fabricant, source</label>
						<input type="text" ng-model="submission.author_maker_source" ng-maxlength="100"/>
					</div>

					<div class="submission-input-field-wide">
						<label ng-show="language=='english'">Please attach a photo of the material, if possible</label>
						<label ng-show="language=='francais'">Veuillez joindre une photo du document, si possible</label>
						<span class="help-text" ng-show="language=='english'">Accepted image formats include jpg, png, and tiff.  File size must not exceed 1 MB.</span>
						<span class="help-text" ng-show="language=='francais'">Accepted image formats include jpg, png, and tiff.  File size must not exceed 1 MB.</span>
						<input type="file" ng-model="submission.image" />
					</div>

					<div class="include-name-input-field send-in-input-field">


						<span class="field-label" ng-show="language=='english'">Would you like your name included in the Archive?</span>	
						<span class="field-label" ng-show="language=='francais'">Est-ce que vous voulez inclure votre nom dans les archives?</span>	
						<label for="include_name_1" class="field-text">
							<input id="include_name_1" type="radio" ng-model="submission.name_included" value="yes"/>
							<span ng-show="language=='english'">Yes</span>
							<span ng-show="language=='francais'">Oui</span>
						</label>
						<label for="include_name_2" class="field-text">
							<input id="include_name_2" type="radio" ng-model="submission.name_included" value="no"/>
							<span ng-show="language=='english'">No</span>
							<span ng-show="language=='francais'">Non</span>
						</label>

					</div>



					<!-- Last form fields and submit -->	

					<div class="accept-input-field checkbox-field">
						<input id="i_accept" type="checkbox" />
						<label for="i_accept" class="field-text" ng-show="language=='english'">If my proposal is accepted, I agree to donate this material to the Charlie Archive at Harvard University Library for preservation and distribution for research and educational purposes. I understand that I will not receive financial compensation.<span class="required">*</span></label>	
						<label for="i_accept" class="field-text" ng-show="language=='francais'">Si ma contribution est acceptée, je m’engage à donner ce document aux archives Charlie de la Harvard University Library, où il sera préservé et distribué à des fins pédagogiques et des fins de recherche.<span class="required">*</span></label>	
					</div>


					<div class="submit-input-field checkbox-field">
						<input type="submit" value="Submit" />
					</div>

				</form>

			</div>

		</div>
	</div>




</div>


{% endblock %}